[2015-12-14 14:18] tjvantoll opened #1 "Empty black box on iOS"
Hey @EddyVerbruggen,

I tried out this plugin today and it works great on Android, but on iOS I’m unfortunately not seeing a map—all I see is a black box.

![img_0837](https://cloud.githubusercontent.com/assets/544280/11783097/3b9604e4-a243-11e5-8195-819e782f87aa.PNG)

I’ve tried your demo and my own custom app and I get the same. Any idea what might be up here? The logs tell me that I have permis

[2015-12-14 14:19] tjvantoll commented on #1
Oh, one completely unrelated note. This code on the docs:

[code]

`result` is not defined here. I’m guessing you meant to use `granted` in the `console.log()` call.

[2015-12-22 17:27] EddyVerbruggen commented on #1
Hey TJ, thanks for the report. It was a bit buried by all other stuff in my mailbox, but I just stumbled on it again and took a moment to fix it.

Turned out the Mapbox guys changed the location of the resource files a bit, so the plugin could no longer load the map. That's what you get when you don't pin to a specific SDK version. The plugin now pins to a version it is known to work well with (sh

[2015-12-22 17:27] #1 closed, assigned to nobody

[2015-12-23 14:27] tjvantoll commented on #1
No worries, I can only imagine what your GitHub notification situation is like 😛

Thanks for the fix! 👍

[2016-01-10 17:42] RusEu opened #2 "Not working"
when i click show the app stops with an error

[2016-01-12 01:50] wisonye commented on #2
Hello, please Help on this !!! :) After I upgrade to XCode7.2( IOS 9.2 ), my NativeScript project cannot compile, and show this error in terminal output:

[code]

But after I remove this plugin( and also disable the code related to using MapBox temporary ), compile works, then I check the information from:

[code]

I noticed that they upgrade to 3.0.1, then and I check your "podfile" which still u

[2016-02-04 20:33] tjvantoll opened #3 "NullPointerException when running on Android"
Hey @EddyVerbruggen,

Just tried out the plugin and it works great on iOS, but I’m getting the following error on Android:

[code]

Any idea what’s up? I’m testing on an Android 5.x emulator and I have `showUserLocation` turned off. Here’s the code I’m using:

[code]

Thanks.

[2016-02-04 20:45] EddyVerbruggen commented on #3
Hey @tjvantoll can you try a real device as well? Just tested on my 4.4.4 device with your code without a problem. Will try an emulator now.

[2016-02-04 20:52] EddyVerbruggen commented on #3
5.x emulator works ok as well.
tns 1.5.2 here.

Hmm.. can you share your project with me?

<img width="579" alt="screen shot 2016-02-04 at 21 49 44" src="https://cloud.githubusercontent.com/assets/1426370/12829255/62f2262a-cb89-11e5-8ad0-43fd756f27e9.png">

[2016-02-04 20:54] tjvantoll commented on #3
Hmmmm... might be on my end. Yeah hold on. Uploading now.

[2016-02-04 20:58] tjvantoll commented on #3
Here it is: https://github.com/tjvantoll/HotOrCold

[2016-02-04 21:05] EddyVerbruggen commented on #3
Ka-boom! Same error here.

I'm guessing it's a timing issue. I instantiate it from a button, you do it when the app loads.

[2016-02-04 21:12] tjvantoll commented on #3
Race conditions ftw! I’m guessing this might be because I’m using Angular 2, so the app itself may not be “ready” in the constructor of the first Component. @hdeshev might have some ideas.

[2016-02-04 21:18] EddyVerbruggen commented on #3
Yes, I was wondering where the xml file was and saw Angular :)

Haven't used that before so it's a bit hard to say really. It's not a race condition I think as wrapping the `show` function in a timeout of 4 seconds results in the same stacktrace.

I'll check the Mapbox github repo as well

[2016-02-04 21:23] EddyVerbruggen commented on #3
Ah, found sth, hang on

[2016-02-04 21:28] EddyVerbruggen commented on #3
Looks like with Angular the context (the activity really) is not initialized when the mapbox module is loaded. Since the plugin was caching that at the top (near the imports) the value wasn't re-evaulated when the `show` function was invoked. [Now it is](https://github.com/EddyVerbruggen/nativescript-mapbox/blob/master/mapbox.android.js#L65).

Grab 1.1.1 from npm while it's hot (or cold)!

[2016-02-04 21:44] EddyVerbruggen commented on #3
Oh btw I never tested this change without that timeout around `show`.
Hope it works without.

[2016-02-04 21:45] tjvantoll commented on #3
🎉I’ll give it a shot tomorrow to confirm it works. Thanks for jumping on this so quickly!

[2016-02-05 15:56] tjvantoll commented on #3
Unfortunately this doesn’t seem to work without the `setTimeout` 😞 I seem to need to wait about a full second for this to reliably work.

I also tried switching the logic to be driven off of a `loaded` event, i.e.

[code]

That approach seems to actually make more sense than the Component’s `constructor`, but I got the same error.

[2016-02-05 16:00] EddyVerbruggen commented on #3
This kind of use is not something the Mapbox guys anticipated. Perhaps it's a good idea to log this with them as I don't see how this plugin could fix an issue that's really a Mapbox-NativeScript(with Angular) issue.

[2016-02-05 16:01] EddyVerbruggen commented on #3
Btw, that `loaded` approach makes a lot of sense, does it fire too soon perhaps?

[2016-02-05 16:09] tjvantoll commented on #3
Yeah agreed. I’d like to see what @hdeshev or one of the people on our Angular team thinks about this and I can take it from there.

[2016-02-22 11:59] CodeX94 opened #4 "'Zoom' attribute error"
`platforms\android\build\intermediates\exploded-aar\Common-2015.3.1307-trial-release\res\values\values.xml:2 : Attribute "zoom" has already been defined`

[2016-02-23 23:46] ofirdagan opened #5 "Location keeps working when hiding map"
Hi :). I've noticed that the device still uses the location service even when I hide the map / exit the app.

I'm using Android API 23.

10x

[2016-02-23 23:48] ofirdagan opened #6 "Add click event on marker"
Is it possible to run a click handler when a specific marker's box is clicked?

10x.

[2016-03-07 19:41] CodeX94 commented on #4
@tjvantoll

[2016-03-07 19:42] CodeX94 commented on #4
[code]

[2016-03-08 14:03] tjvantoll commented on #4
I confirm that this error occurs when you try to use this Mapbox plugin and UI for {N} in the same app. Here are the specific steps to recreate the problem:

[code]

[2016-03-08 14:08] tjvantoll commented on #4
Closing in favor of https://github.com/NativeScript/nativescript-cli/issues/1501.

[2016-03-08 14:17] tjvantoll commented on #4
Actually, I don’t have permissions to close issues in @EddyVerbruggen’s repos 😀

[2016-03-08 14:24] EddyVerbruggen commented on #4
That by itself is a bug! Thx TJ

[2016-03-08 14:24] #4 closed, assigned to nobody

[2016-03-16 13:46] prodigy7 opened #7 "Unable to start activity ComponentInfo{org.nativescript.mapboxdemo/com.tns.NativeScriptActivity}"
NativeScript: 1.6.2

Today I have checkout your current mapbox demo but I'cant get it running on my system. I get this error (only a part of fully error text, couldn't copy it all).

[code]

Generally I have amount of experience in software development, but I'm new to nativescript. Maybe is a really simple fault and I don't recognize it ...

[2016-03-16 20:50] EddyVerbruggen commented on #7
Hi, I just updated my NativeScript to 1.7.0 and checked this plugin. Updated the iOS podpec while I was at it (newer native Mapbox SDK) and fixed an error with Android `setTilt`. All seems fine, so please update your NativeScript and try again.

[2016-03-16 20:50] #7 closed, assigned to nobody

[2016-03-17 06:25] prodigy7 commented on #7
Okay, tried it again and now it works! Thank you for your support!

[2016-03-23 01:08] rpereiraprieto commented on #6
i need a click handler on marker, please, help ...

[2016-03-23 09:06] rpereiraprieto commented on #6
Hello,
and I did, adding the following to the show method :

_      if(settings.callBack){
          var newListen=new com.mapbox.mapboxsdk.views.MapView.OnInfoWindowClickListener(
              {
                  onMarkerClick:function(clickedMarker)
                  {
                      settings.callBack(clickedMarked);
                      return true;
                  }
              }

[2016-03-23 09:23] EddyVerbruggen commented on #6
That's great, @rpereiraprieto! Would you mind sending a PR? I'm of course willing to polish it if that's needed but it would be great to have more folks contributing.

[2016-03-23 14:22] rpereiraprieto commented on #6
Hi Eddy,

The method works fine, but only in android. I will wait for someone who make a complete solution for nativescript.

Thank you so much

Regards

Enviado desde mi iPhone

[2016-03-26 15:58] EddyVerbruggen commented on #6
If you submit the PR then I'll take a stab at the iOS implementation, promised :innocent:

[2016-04-06 08:21] rpereiraprieto commented on #6
ok, i will submit the PR, when i have a few time, today i have a sunny day.

2016-03-26 16:58 GMT+01:00 Eddy Verbruggen notifications@github.com:

##

[image: Logo]

Ramón Pereira
_635518821_ · rpereira@adealoxica.com [image: skype]

Adealóxica Ingeniería Informática
Panama  16 · 36203 - Vigo
Tlf: _986122614_ adealoxica@adealoxica.com · www.adealoxica.com

[image: eco] No me imprimas si no es nece

[2016-04-10 05:29] jaredwiener opened #8 "Create map as XML element?"
For ease of positioning, curious if it could be possible to instantiate the map as an XML element instead of calling the javascript and explicitly marking coordinates?

[2016-05-17 19:30] marcbruederlin opened #9 "Not working with Angular2/Typescript?"
I'm trying to use this plugin in an angular 2 typescript project.

I added the plugin via the `tns plugin add` command and imported it with `var mapbox = require('nativescript-mapbox');` in my component.ts file.
In the angular 2 `ngOnInit` event i call `mapbox.show({
       accessToken: '...'
     });` but i'm getting the following error:
`Uncaught (in promise): TypeError: Cannot read property 'ma

[2016-05-23 03:14] jrthib opened #10 "Cannot find variable MGLMapViewDelegate"
When I attempt to compile this plugin in my nativescript app, the compiler reports `Cannot find variable MGLMapViewDelegate`. Any ideas how I can get past this?

[2016-05-25 09:32] Neomac opened #12 "Mapbox-4.0.0 : Can't add a marker : markerOptions.title is not a function"
Hi, I've got an issue with your mapbox-4.0.0 branch. I know it's under development, but I needed a mapbox 4 version to make it run on 64bits devices so I gave it a shot.

I succeeded to make the map show up by adding :
`<service android:name="com.mapbox.mapboxsdk.telemetry.TelemetryService" />`
in the android manifest. I don't know why the one in the plugin doesn't work.

Then I tried to put a mar

[2016-05-25 09:36] EddyVerbruggen commented on #12
Ha, that's exacltly the reason why I stopped working on that branch until [this issue](https://github.com/mapbox/mapbox-gl-native/issues/4761) is resolved. Please follow that issue for updates. I will continue my work once that's fixed and released.

[2016-05-25 09:36] #12 closed, assigned to nobody

[2016-05-25 09:51] Neomac commented on #12
Ok, I see I'm just on time :). Hope they gonna fix this soon.

[2016-05-27 03:05] vessp opened #13 "Offline and Element overlay capability question"
Hello there, i'm starting a new project for which I need to use maps on both ios and android. However I need to show images overtop of the map sometimes, is it possible to show ui elements overtop of the map? (this is difficult for some hybrid frameworks)

Also, MapBox native libraries have support for offline usage and I was wondering if this is supported yet.

Kind regards.

[2016-05-27 06:34] EddyVerbruggen commented on #13
Offline is not yet supported because we can't update to the latest SDK supporting that feature do to an open issue in the Mapbox SDK. See #12.

I think it's possible to overlay images with NativeScript but didn't try myself.

[2016-05-27 06:34] #13 closed, assigned to nobody

[2016-06-03 13:15] skdeepak88 commented on #9
Are u referencing `mapboxsdk` anywhere ?

[2016-06-03 13:48] skdeepak88 opened #14 "iOS Marker added using addMarkers is jumpy when zoomin in/out"
Looks like the marker is fixed position relative to the Map. This doesn't happen when I set the markers in `show` method. Happens only for the markers added after showing the map. I need to do this to dynamically add markers. Any one else have this problem and how did you sort this out ?

Note: After adding the markers I am calling `setCenter` method too..

Marker Code:

[code]

Set Center Code:

[2016-06-06 16:18] ADjenkov opened #15 "Map not showing on Android 5.0.1 device"
I'm getting exception:

In /tns_modules/nativescript-mapbox/mapbox.js (.android) when trying to create  `mapView = new com.mapbox.mapboxsdk.views.MapView(application.android.context, settings.accessToken);`

I'm with {N} CLI 2.0.1 and modules 2.0.0 version. The funny thing is that the same application works on Nexus 4 (5.0.1), Nexus 5 (6.0.1) , Samsung G. S4 (5.0.1) but it crashes on 3 different H

[2016-06-14 06:49] ADjenkov opened #16 "Plugin size impact"
The plugin significantly the output .apk , with about +10mb...Is this actually expected?

[2016-06-22 08:35] bloigge commented on #13
Hi - We are also looking for a way to enable offline caching using mapbox and nativescript. Is there any forecast for this feature in nativescript-mapbox?

[2016-06-22 17:03] Stavanger75 commented on #13
+1

[2016-06-27 04:39] dalmirof opened #17 "Custom maps"
Hi, First of all, thanks.
Could you show me a little sample about how can I load a custom map using nativescript-mapbox please?
Thanks.
Best.

Dalmiro

[2016-07-07 13:30] bloigge commented on #9
I do have the same in plain javascript as well

[2016-07-07 21:26] bloigge commented on #17
+1 is there a way to include custom wms services from a personal geoserver?

[2016-07-08 21:48] EddyVerbruggen commented on #9
iOS or Android, and are you doing this before `application.start();` perhaps?

[2016-07-08 21:49] EddyVerbruggen commented on #6
I just implemented this feature, landing in 1.2.0 real soon.

[2016-07-20 17:56] jacobocantillo opened #19 "Remove Markers Function"
Hi.

Checking the functionality of the library I see that there is a method that adds markers to the map. It strikes me that there is no method to clear the contents of the markers, or remove any of them.

I think it would be very useful that the library existed a similar method.

Happy coding!

[2016-07-26 01:27] MikeHuntington commented on #3
Has there been any update on this? I'm running into this same issue? Where did you place the setTimeout code @tjvantoll ??

thanks

[2016-07-26 12:13] tjvantoll commented on #3
@MikeHuntington To my knowledge there are no updates, but the `setTimeout()` workaround has been working fine for me. Essentially the code is something like this:

[code]

You can show an activity indicator or something in the time it takes to load the map if the delay is awkward.

[2016-07-26 21:20] burkeholland commented on #6
+1

[2016-07-26 21:21] burkeholland opened #20 "Support for Marker Image URLs"
Currently, the plugin only loads local resources as marker images. It would be nice if we could also specify a URL to use for the marker.

[2016-07-26 21:22] burkeholland commented on #9
I'm doing it in the constructor without issues. Might want to try moving it there, although I tried with ngInit and it worked fine there as well.

[2016-07-26 21:24] burkeholland opened #21 "Implement FitToBounds"
It looks like the MapBox SDK supports fitting the map to an array of geolocation points. It would be nice if we could do this by passing an array of markers so the map zooms to fit the markers. I believe the proper API is `visibleCoordinateBounds`.

https://www.mapbox.com/ios-sdk/api/3.3.1/Classes/MGLMapView.html#/c:objc(cs)MGLMapView(py)visibleCoordinateBounds

[2016-07-29 17:43] smartcris commented on #9
I'm having the same issue  on Android only with plain javascript:
`JS: Error in mapbox.show: TypeError: Cannot read property 'mapboxsdk' of undefined`

[2016-07-30 17:33] l3lackcurtains commented on #9
- uninstall the application from device
- remove and add the plugin again
- build the application
- Run it.

  **It worked for me, and it works for most of the plugin with such issues.**

[2016-08-05 13:54] shivapersad opened #22 "Mapbox not working"
TNS Version: 2.1.1

When I run "tns livesync ios --emulator --watch" I get the following error messages:

Aug  5 14:51:44 Shivas-Air cngMobileApp[70894]: 1   0x45b82c -[TNSRuntime executeModule:]
Aug  5 14:51:44 Shivas-Air cngMobileApp[70894]: 2   0x8c60b main
Aug  5 14:51:44 Shivas-Air cngMobileApp[70894]: 3   0x3cc5a25 start
Aug  5 14:51:44 Shivas-Air cngMobileApp[70894]: file:///app/tns_modules

[2016-08-06 13:28] marcbruederlin commented on #9
Got it. I think the problem was that I forgot to add

[code]

to my `AndroidManifest.xml`.

[2016-08-06 13:28] #9 closed, assigned to nobody

[2016-08-11 11:18] EddyVerbruggen commented on #22
Perhaps you're trying to show a map before the app has started?

Please show me the code reproducing this issue as I can't get it to break..

[2016-08-15 17:35] #22 closed, assigned to nobody

[2016-08-15 17:36] shivapersad commented on #22
Got it to work. I'm using the angular version of Typescript so I confused some of the code and this may have caused the issue.

Thanks for the reply all the same.

[2016-08-15 22:03] shivapersad opened #23 "Additional style for Markers"
Hi,

Is there an additional style for Markers? I want to include two types of Markers on a Mapbox map to signify two different types of locations on a map. Thanks.

[2016-08-22 08:44] nasrul21 opened #24 "How to get Directions / Routes?"

[2016-08-23 11:20] EddyVerbruggen commented on #19
Hi,

What would that API look like? I mean, how would you like to reference the marker to be removed? I think you'd need to pass in some reference (id) you can later use to remove the marker by id(s).

By far the easiest thing to do though would be to remove _all_ markers at once - would that suffice for your usecase?

For my reference, [here's the iOS doc](https://www.mapbox.com/ios-sdk/api/3.3.4

[2016-08-23 13:55] EddyVerbruggen commented on #24
Please let me know if/when you find it in the native SDK for [ios](https://www.mapbox.com/ios-sdk/) and [Android](https://www.mapbox.com/ios-sdk/), then I'll add it ASAP.

[2016-08-23 13:55] #24 closed, assigned to nobody

[2016-08-23 14:28] jacobocantillo commented on #19
Hi,

It would be nice to have two methods:
1. One to remove a marker associated with a particular ID.
2. Another to remove all markers.

That would be enough.

[2016-08-24 16:00] ShawnPavel commented on #3
I'm getting a different error when creating the map on android:

[code]

I also use angular for my project. I've tried on multiple emulated android version and an actual device. I get the same error in all cases.
I tried using the delay tactic above, and loading from a button click instead. Any ideas?

[2016-08-24 18:21] EddyVerbruggen opened #25 "Provide a way to hide and show the map, without redrawing it"
Currently when you `hide()` the map its current viewport is reset when `show()` is called again. This is nasty in case you quickly want to navigate back and forth between an map and a (say) listview.

[2016-08-24 19:58] EddyVerbruggen commented on #25
Hmm, I think I can find a quick solution for this. In the long run I'd love to bind the map to a UI element declaratively from the XML definition, but a quick `unhide()` function should be possible with what we have now..

[2016-08-24 20:44] EddyVerbruggen commented on #25
My solution is not ideal but it's much more workable than what was possible until today.

If you call `hide` and later `unhide` it should maintain the entire map config. I have not tested this in a larger app, just a little sample.. where it works well.

The ultimate solution would be being able to specify the map in your view, but that's not something I can cough up shortly.

[The immensely compl

[2016-08-24 20:44] #25 closed, assigned to EddyVerbruggen

[2016-08-24 20:44] EddyVerbruggen commented on #25
Part of the just released 1.4.0 version.

[2016-08-24 20:45] EddyVerbruggen commented on #19
Hi, just landed in 1.4.0, please check [the readme](https://github.com/EddyVerbruggen/nativescript-mapbox#removemarkers) for details.

[2016-08-24 20:45] #19 closed, assigned to nobody

[2016-08-25 02:23] c1ngular opened #26 "[question] is it possible to deliver a downloaded map within my app ?"
for instance , i want to download a map of a certain region in advance , and ship it with app package ,  save user's time and data connection ! if possible , how should i achieve such goal ?
thank you

[2016-08-25 07:41] EddyVerbruggen commented on #26
I don't think there is an official way to do that (but please ask the Mapbox folks to be sure). A reason could be that those things need to expire because road data gets outdated quickly in certain regions.

[2016-08-25 07:41] #26 closed, assigned to nobody

[2016-08-29 15:45] ShawnPavel commented on #3
Solved the issue. Ultimately, I just had to set an initial position when showing the map on Android.

[2016-08-31 16:11] UchihaCFC opened #27 "Not show map in demo"
I’m testing the demo but home although I copied my accessToken of MapBox, not can see the map in the application, only the action buttons.

I'm using genymotion for testing and galaxy S3 image for run it.

![image](https://cloud.githubusercontent.com/assets/1220889/18136623/bdc0d4b4-6fa5-11e6-9080-30702d13c2e5.png)

When put in show button the app crashes:

![image](https://cloud.githubusercontent

[2016-08-31 21:20] cherylbearden opened #28 "Will the Mapbox Directions api work with Nativescript?"
Is it possible to provide directions with a Mapbox map in a Nativescript app?  Thanks very much for the info.

[2016-09-04 16:22] jiwonyune opened #31 "ShowUserLocation not working"
Hi.

I cannot get the user location shown on the map properly. Is there anything that I am missing right now?

[code]

[2016-09-05 18:18] PDeveloper opened #32 "Possible to get street/intersection data?"
Hey!

Is it possible to retrieve street data from the API, for example to provide snapping on intersections or similar?

[2016-09-07 19:05] EddyVerbruggen commented on #32
Can you please ask that in the [Mapbox GitHub repo](https://github.com/mapbox/mapbox-gl-native/) and report back (reopen) here? Cheers.

[2016-09-07 19:05] #32 closed, assigned to nobody

[2016-09-09 02:04] getmetorajesh opened #33 "Marker Clustering"
Any plans on implementing the cluster functionality in [mapbox](https://www.mapbox.com/mapbox-gl-js/example/cluster/)

[2016-09-09 12:24] EddyVerbruggen commented on #33
Hi, I'd love to but you're pointing to the JS version whereas this plugin uses the native SDK's. If you can find the clustering feature for native I'd love to hear! Otherwise please ask in the Mapbox GitHub repo, I'm sure they've heard the request before.

[2016-09-09 13:50] EddyVerbruggen commented on #28
Hi, I did a quick experiment on iOS and that should work indeed. Just need to add a few dependencies to the plugin and expose the API.

If anyone is interested to help out, here's the [iOS](https://www.mapbox.com/ios-sdk/#directions) and [Android](https://www.mapbox.com/android-sdk/examples/directions/) libs required.

[2016-09-09 17:38] cherylbearden commented on #28
Hi. Thanks very much for checking this.

---

From: Eddy Verbruggen notifications@github.com
Sent: Friday, September 9, 2016 9:50 AM
To: EddyVerbruggen/nativescript-mapbox
Cc: cherylbearden; Author
Subject: Re: [EddyVerbruggen/nativescript-mapbox] Will the Mapbox Directions api work with Nativescript? (#28)

Hi, I did a quick experiment on iOS and that should work indeed. Just need to add a few de

[2016-09-13 02:08] jacobocantillo opened #34 "Custom Styles In Maps"
Hi.

MapBox SDK allows you to set styles for maps. In your excellent implementation, for iOs and Android, styles are established through an enum with default styles.

The SDK also allows you to define your own styles, created with MapBox Studio, setting the style to map through the **styleUrl** function.

It would be quite useful this capability in the library.

Thank you!

[2016-09-21 08:32] diego086 commented on #27
Im having the same issue in an app that i implement this plugin. To make sure it was not something a was doing wrong then downloaded the mapbox demo repo and run it, but i got the same issue.

Does anyone have any clues of whats going on?

[2016-09-21 08:38] EddyVerbruggen commented on #27
@diego086 Can you share you stacktrace? The one above doesn't help much unfortunately.

[2016-09-21 08:47] diego086 commented on #27
Sure, this is the adb log cat:

android.support.v7.widget.ResourcesWrapper.getDrawableForDensity
09-21 04:43:49.226 W/dalvikvm( 2270): VFY: unable to resolve virtual method 455: Landroid/content/res/Resources;.getDrawableForDensity (IILandroid/content/res/Resources$Theme;)Landroid/graphics/drawable/Drawable;
09-21 04:43:49.226 D/dalvikvm( 2270): VFY: replacing opcode 0x6e at 0x0002
09-21 04:43:49.

[2016-09-21 09:02] EddyVerbruggen commented on #27
Hmm.. did you try on a real device as well?

[2016-09-21 09:33] diego086 commented on #27
Not untill you said it. And you are right, on the two android devices that i test it, works great. its seems its only on the emulator

[2016-09-21 09:34] EddyVerbruggen commented on #27
I've had intermittent results on an Android emulator myself. Perhaps it depends on whether or not Google Play Services is installed on the emulator, but it's a bit unclear..

[2016-09-22 13:37] marvinernst opened #36 "Adding Polylines"
Hi.
I tried to add some polylines to the map but this resulted in an error.

[2016-09-22 13:42] marvinernst commented on #36
Fixed #35

[2016-09-23 06:09] #36 closed, assigned to nobody

[2016-09-28 21:00] xerotolerant opened #37 "Cannot Place UI elements over viewport"
I can't figure out how to draw some Ui elements over the map.
I was using google maps and cordova previously and I could "draw" over a map since it was drawn within a div container.

In this case I don't know which element, if any I can apply some css to in order to draw over the map. Is it even possible to do so?

[2016-09-30 12:29] UchihaCFC commented on #27
My problem solved when change the Android version in my emulator. @diego086 try download other Android image in genymotion with 6.0.0 version and run the app with them.  It works for me ;)

[2016-10-04 14:12] xerotolerant commented on #8
Hello. I would like to help with this. What do you need? I'm not super experienced but I was told that helping out on an open source project is a good place to start.

[2016-10-04 14:16] EddyVerbruggen commented on #8
Hi @xerotolerant that's very nice of you. I know that Burke Holland was attempting to do the same, perhaps it's a good idea to open an issue [on his fork](https://github.com/burkeholland/nativescript-mapbox).

[2016-10-06 20:55] ahalls commented on #34
Looks like this is addressed in this PR:
https://github.com/EddyVerbruggen/nativescript-mapbox/pull/38

[2016-10-09 19:31] Arman8852 opened #39 "Unable to start activity ComponentInfo:Failed to find module 'Crypto'"
I have installed a  request node package via npm.The dependency have been updated in package.json.But when I injected the package like this

var request=require('request');

I am getting the above error.What I can do?
![module](https://cloud.githubusercontent.com/assets/19362205/19223103/2ded70c4-8e89-11e6-87a7-c66097d93e4b.PNG)

[2016-10-14 15:02] ttma1046 commented on #22
I had the same issue. How did you fix it?

JS: Angular 2 is running in the development mode. Call enableProdMode() to enable the production mode.
JS: ReferenceError: Can't find variable: MGLOfflineStorage

I followed the steps what they do during last night's NativeScript 2.3.0 webinar by using Angular 2 typescript with NativeScript to build an ios app.

https://www.youtube.com/watch?v=WQktviwAGb0

[2016-10-14 15:18] ttma1046 opened #40 "Can't find variable: MGLOfflineStorage"
Thanks for building this awesome plugin!

I followed the steps what they do during NativeScript 2.3 webinar by using Angular 2 typescript with NativeScript to build an ios app.

https://youtu.be/WQktviwAGb0?t=25m3s

I have defined the "mapbox", "token" variable and loadMap function in the imagesList.component.ts.

Once I run the app in the IOS simulator, I got this error:

JS: Angular 2 is running

[2016-10-14 20:10] Stavanger75 commented on #3
+1

Get the same on vanilla. The loaded event fires to early on Android 2.3. Works when defined in XML. Using setTimeout(showmap, 50) solution from @tjvantoll solves the problem until a fix is released. (Using 50 ms instead of 1000ms).

By the way: Thanks for a great plugin :-)

[2016-10-15 18:40] Stavanger75 commented on #21
+1

[2016-10-15 19:23] Stavanger75 opened #41 "Add support for Polyline in IOS"
Thanks for a great plugin.

Is it possible to implement the addPolyline for IOS also.
Need this core feature :-)

[2016-10-15 20:31] EddyVerbruggen commented on #3
@Stavanger75 about to push an update that handles this delay automatically.

[2016-10-15 20:31] #3 closed, assigned to nobody

[2016-10-15 21:03] EddyVerbruggen commented on #40
That's strange.. did you try this with --watch / livesync enabled? If so can you do a `tns run ios` without those features?

[2016-10-15 21:04] EddyVerbruggen commented on #34
That PR was just merged and available in 2.1.0, so please give it a try!

[2016-10-15 21:04] #34 closed, assigned to nobody

[2016-10-15 21:06] EddyVerbruggen commented on #8
This feature landed in 2.0.0.

[2016-10-15 21:06] #8 closed, assigned to nobody

[2016-10-15 21:06] #6 closed, assigned to nobody

[2016-10-15 21:13] EddyVerbruggen commented on #21
Added to 2.1.0 as `setViewport` which can also be used from the `mapReady` event of an XML-declared map.

I'm pondering adding a convenience 'fitToMarkers' function but until then you'll need to pass the outer boundaries of your markers to the `setViewport` function. Should be a fairly easy calculation.

[2016-10-15 21:13] #21 closed, assigned to nobody

[2016-10-16 13:22] Stavanger75 commented on #31
+1

Same problem on Android 2.3. Works on IOS.

[2016-10-16 13:32] Stavanger75 commented on #3
@EddyVerbruggen Can confirm it is working on Android. Thanks :-)

[2016-10-18 07:50] ofirdagan commented on #6
👍  10x!

[2016-10-18 15:31] AnthonySmith01 opened #42 "Does Mapbox measure this plugin's usage as a native app?"
Hi

Great plugin, I just have a quick question.

Mapbox plans place limits based on either "map views" or "mobile users".
The starter plan being: 50,000 map views / mo, or 50,000 mobile users / mo

The Mapbox documentation specifically refers to native apps when it talks about measuring mobile users. Does this plugin interact with Mapbox like a native app? (i.e measuring mobile users) or does this

[2016-10-18 16:01] EddyVerbruggen commented on #42
I'm sure they want to differentiate between web and app. So in this regard it's a native app. Which uses the native sdk's as opposed to the web libraries.

[2016-10-18 16:01] #42 closed, assigned to nobody

[2016-10-19 00:50] AnthonySmith01 commented on #42
Thank you! :)

[2016-10-20 07:19] tviel opened #43 "Allow to use icon path from resource"
Cannot find a way to use iconPath from a resource (as res://) to use native methods for selecting the best image for the current device screen density.

[2016-10-20 21:34] bradmartin commented on #37
Using a `GridLayout` you can place elements on top of the MapBox now if you declare it in your markup.

If you need an idea how to 'float' a view component on top of another check the FAB plugin README here using a `GridLayout` https://github.com/bradmartin/nativescript-floatingactionbutton#xml

[2016-10-21 14:15] bradmartin opened #44 "Enhancement: expose other methods to XML map"
Several much needed methods on the XML declared maps:
- `removeMarkers`
- `setCenter`
- `setZoomLevel`
- `addPolyline`

All of them would be great of course but these would seem to cover a lot of use cases for having dynamic capabilites of the map once its rendered for navigational purposes.

[2016-10-23 11:56] giovannicandido opened #45 "Angular 2 registerElement XML not setting property"
I guess that the xml with angular2 is not setting the accessToken property:

[code]

[code]

The map load in black with the message: **Please set the 'accessToken' property because now the map will be entirely black :)**

[2016-10-23 12:06] giovannicandido commented on #45
Maybe some progress:

[code]

[code]

But now there is no map (blank screen)

[2016-10-23 16:39] giovannicandido commented on #45
The second approach works on android, not work on IOS.

Don't know if is related:

[2016-10-23 17:34] giovannicandido commented on #44
I'm trying to come up with the use case:

If I use the programatic API I have full control, but the map overlap's everything. I need the map to stay in the GridLayout, so I can use floating action buttons and navigation drawer.

The only way to do that, at least as I could come with, is to use the XML Map.

But XML need to have the full API in order to be useful in my case.

[2016-10-23 18:52] Stavanger75 opened #46 "showUserLocation="true" is not working in Android"
Hi,

It seems like the showUserLocation="true" is not working in Android. Works great in IOS.
I have tested the demo at:  https://github.com/EddyVerbruggen/nativescript-mapbox-demo
Same problem on XML an by code. Have also created a separate project where i test that mapbox.hasFineLocationPermission() returns true before i call mapbox.show(). But still same problem.

@EddyVerbruggen is showUserLoc

[2016-10-23 19:07] Stavanger75 commented on #46
Sorry is related to this : https://github.com/EddyVerbruggen/nativescript-mapbox/issues/31

[2016-10-23 19:07] #46 closed, assigned to nobody

[2016-10-24 20:35] EddyVerbruggen commented on #31
This seems to be subject to refactoring quite a bit in the Android Mapbox SDK. I'll have to do a bit of research..

[2016-10-25 06:46] EddyVerbruggen commented on #44
Yes @giovannicandido that's indeed what this issue is for.

[2016-10-25 19:29] EddyVerbruggen commented on #44
Now available are: `setViewport`, `addMarkers`, `removeMarkers`, `setCenter`, `setZoomLevel`, `setViewport`, `setTilt`, `animateCamera`, `addPolygon` and `addPolyline`.

Note that as before `addPolygon` and `addPolyline` don't work yet on iOS but those are still on my radar.

Part of 2.1.1 which I'll publish soon.

[2016-10-25 19:29] #44 closed, assigned to EddyVerbruggen

[2016-10-25 19:35] EddyVerbruggen commented on #45
Unfortunately that's a useless stacktrace (as usual on iOS). Can  you try `tns platform remove ios && tns platform add ios`?

[2016-10-25 19:38] EddyVerbruggen commented on #41
Yeah it's a bit tricky, as is `addPolygon`. But I'm trying to find a way.

[2016-10-25 19:40] EddyVerbruggen commented on #31
Tried a few thing that should work but didn't. I'm contemplating drawing the user location via a custom marker myself for now.

[2016-10-25 20:01] bradmartin commented on #44
Works GREAT. Thanks @EddyVerbruggen

[2016-10-25 20:05] EddyVerbruggen commented on #44
Cool, thanks for the quick test! :)

[2016-10-25 20:48] bradmartin opened #47 "Question: remove the polyline"
I didn't find anything in the native android sdk, curious if you've seen support to remove a previously drawn line or have any suggestion on a good approach for that?

I've drawn a line and plotted the markers, successfully removed the markers but now need to remove the line so it's not there for a new line (route) with the new markers plotted, hope that makes sense. I'll dig around later and see

[2016-10-25 20:49] Stavanger75 commented on #31
Thanks for following up on this one. Just let me know if you would like me to test anything.

You have probably allready taken a look at the sample application from mapbox. But here is the information just in case. It contains user location and userlocation button. I downloaded test app from google play and it 's showing location as expected.

**Google Play**
https://play.google.com/store/apps/det

[2016-10-25 21:05] EddyVerbruggen commented on #31
Ha, lol, I've just replicated that UI by manually adding 2 markers one the same spot (my location) using those blue and white drawables. So I guess I can release a good v1 based on that approach tomorrow. Thx!

[2016-10-25 21:08] Stavanger75 commented on #31
Great i will test it :-)

EDIT: if you would like to go for one marker/image solution : https://github.com/mapbox/mapbox-android-demo/blob/master/MapboxAndroidDemo/src/main/res/drawable-xxhdpi/ic_circle.png

[2016-10-26 00:32] giovannicandido commented on #45
Correction the first approach works on android.

Removing and adding ios do not work

Example project: https://github.com/giovannicandido/tns-example

[2016-10-26 00:54] bradmartin commented on #47
Looks like it from the API for Annotations https://www.mapbox.com/android-sdk/api/4.2.0-beta.4/ `remove()`. Have to keep a reference to the annotation added to the map and then looks like `remove()` on that object will remove from the map.

[2016-10-26 00:55] bradmartin commented on #47
Doh! Should have checked the plugin source first 😄  https://github.com/EddyVerbruggen/nativescript-mapbox/blob/master/mapbox.android.js#L346

[2016-10-26 08:27] tastypwnda opened #48 "Request: change Position of Markers without removing them first"
We have an issue where the first draw of marker icons shows them without custom marker image and on the second attempt it works. So if I successfully have drawn a marker I want to just move it. Do you plan this function for future releases?

[2016-10-26 13:38] EddyVerbruggen commented on #48
You're right about the custom image not showing upon first appearance. How about I fix that issue on iOS instead of adding a move feature?

[2016-10-26 13:52] EddyVerbruggen commented on #43
I'm going to add a `icon` property you can use this with.

[2016-10-26 13:52] tastypwnda commented on #48
I would appreciate a bug fix on this topic, because for now every marker we place in our app needs to be drawn twice. Is there also a way showing in which direction a user is heading? Like a direction indicator or map rotation?

[2016-10-26 14:34] EddyVerbruggen commented on #48
Direction is not possible atm, but this bug has been fixed in the very soon to be released 2.2.0 version.

[2016-10-26 14:34] #48 closed, assigned to EddyVerbruggen

[2016-10-26 14:38] EddyVerbruggen commented on #31
Oh wow, that icon may come in handy if the version I just pushed is flaky. The advantage of the current version is though that the plugin uses icons bundled with the Mapbox SDK.

Available in 2.2.0 which is now on GitHub and very soon on npm as well.

[2016-10-26 14:38] #31 closed, assigned to EddyVerbruggen

[2016-10-26 14:39] EddyVerbruggen commented on #43
Added to version 2.2.0. See the updated TS definition for details, and there's a little sample in the readme as well.

[2016-10-26 14:39] #43 closed, assigned to EddyVerbruggen

[2016-10-26 14:45] tastypwnda commented on #48
Out of curiosity why is direction not possible? I looked into the mapbox API and there are some features like "map-rotation" that would help our usability along.

[2016-10-26 14:47] EddyVerbruggen commented on #47
Hmm, I just saw `addPolyline` is not in the `d.ts` file. Let me add that and also add [`removePolyline`](https://www.mapbox.com/android-sdk/api/4.2.0-beta.4/com/mapbox/mapboxsdk/maps/MapboxMap.html#removePolyline-com.mapbox.mapboxsdk.annotations.Polyline-) as I think that makes sense.

[2016-10-26 15:00] EddyVerbruggen commented on #48
I meant it's not possible with this plugin at the moment (AFAIK).

[2016-10-26 15:05] EddyVerbruggen commented on #47
OK, when adding a polyline pass in an `id` property (a number makes sense, but can be any type, like the `id` of markers). Then use `removePolylines` (plural) to get rid of it. See the updated [readme](https://github.com/EddyVerbruggen/nativescript-mapbox#removepolylines-android).

[2016-10-26 15:05] #47 closed, assigned to EddyVerbruggen

[2016-10-26 16:01] bradmartin commented on #47
What a turn around 🎉

[2016-10-26 16:49] bradmartin commented on #47
I've copied over the files, rebuild and installed the updated source. `removePolylines` is undefined on the map instance. I have the other methods. Might be a small issue (typo)

[2016-10-26 17:12] bradmartin opened #49 "onTap/onCalloutTap not working from XML declared map"
[code]

[code]

Marker is present on the map but tapping the marker and the callout do not log anything.

[2016-10-26 17:26] EddyVerbruggen commented on #47
Did you also update `mapbox-common.js`? Otherwise plz show me the stacktrace/error.

[2016-10-26 17:55] EddyVerbruggen commented on #49
Oh damn, found the culprit - the click listener is only wired on Android in case you use the `show` function. Let me refactor that a bit..

[2016-10-26 17:57] bradmartin commented on #47
`removePolylines` is just undefined on the map object.
`animateCamera`, `addMarkers`, `removeMarkers`, `addPolyline` all log out the function when called on the map instance I have. I'm pretty sure I copied over all the .js files and got a new build going. I'll try again and let you know with better info.

Log when calling `this._map.animateCamera;`

[code]

[2016-10-26 18:07] EddyVerbruggen commented on #47
Yep, that's the definition of [this function](https://github.com/EddyVerbruggen/nativescript-mapbox/blob/master/mapbox-common.js#L106-L108), a few lines below is `removePolylines`. I'm afraid there's an old version of that file being cached somewhere..

[2016-10-26 18:23] bradmartin commented on #47
Something was cached locally. Had to do a complete teardown to get it going. Thanks again @EddyVerbruggen  👍  it's possible that my package.json locked at `2.0.0` was causing the issue even though I was manually placing the code in the node_module. Likely on the build it was getting the npm version source

[2016-10-26 18:47] EddyVerbruggen commented on #49
Part of 2.2.1 which is not released yet. You can get the bugfix by updating `mapbox.android.js` manually if you like.

[2016-10-26 18:47] #49 closed, assigned to EddyVerbruggen

[2016-10-26 21:42] Stavanger75 commented on #31
Can confirm version 2.2.0 of plugin on Android 2.3.0 is showing location as expected. Thank's a lot @EddyVerbruggen.

Is it possible to add the accuracy marker/image also ?
https://github.com/mapbox/mapbox-android-demo/blob/master/MapboxAndroidDemo/src/main/res/drawable-xxhdpi/circle_icon.png

[2016-11-01 15:03] lukashlobil opened #51 "[Question] add Marker on tap"
Hello, I am creating the map programmatically. I'd like to add a marker on tapped location on the map. I know how to add markers to the map programmatically, but don't understand how to register a tap handler and get tapped coordinates. Can you point me to the solution please?

[2016-11-01 15:09] EddyVerbruggen commented on #51
Hmm, interesting one, I don't think you can currently get the tapped coordinates. We'll need to look in the Mapbox SDK to see if that's possible.

[2016-11-01 15:54] lukashlobil commented on #51
According to [official docs](https://www.mapbox.com/mapbox-gl-js/example/mouse-position/) it seems to be very possible.
paraphrasing code example:
`map.on('mousedown', function (e) {
        JSON.stringify(e.lngLat);` })

I am willing to help out with the implementation, although I haven't really developed a NativeScript plugin before.

[2016-11-01 16:00] EddyVerbruggen commented on #51
Appreciate you help looking up the code in the official doc, but that's the JS API whereas this plugin uses the native SDK's. Could be there's something similar.

[2016-11-01 16:06] EddyVerbruggen commented on #51
[Relevant Android API](https://www.mapbox.com/android-sdk/api/4.1.1/com/mapbox/mapboxsdk/maps/MapboxMap.OnMapClickListener.html)

For iOS there seems to be no such thing.. I'd expect something on [the delegate](https://www.mapbox.com/ios-sdk/api/3.3.4/Protocols/MGLMapViewDelegate.html) but there's not. However, there seems to be [a way](https://github.com/mapbox/mapbox-gl-native/issues/1113).

[2016-11-01 21:44] bradmartin opened #52 "Enhancement/Request: timeout when loading XML map"
The mapbox loading into a view can cause an app to hang for half a second or so. When you declare the map in XML and navigate to the page you have no way to delay that execution so it doesn't cause an interruption to the navigation transition.

A simple solution would be to add a property on the XML view, such as `delayMapInit` and then accept a value in milliseconds, so then we can make sure the

[2016-11-02 10:13] EddyVerbruggen commented on #52
Great idea!

[2016-11-02 14:42] EddyVerbruggen commented on #52
Update: got Android behaving nicely locally.

[2016-11-02 15:18] bradmartin commented on #52
looking forward to it... prepping the app for publish and this is one of the last things on my personal issues 😄

[2016-11-02 20:53] EddyVerbruggen commented on #52
Can you update the plugin from GitHub (see the last check-in). You get to set a `delay` property in the XML definition. For instance, `delay="500"` means the plugin will wait half a second before invoking the Mapbox SDK.

[2016-11-02 20:55] bradmartin commented on #52
Yes I'll test this out soon.

On Wed, Nov 2, 2016, 3:53 PM Eddy Verbruggen notifications@github.com
wrote:

[2016-11-02 21:29] bradmartin commented on #52
Good to go 👍

[2016-11-03 07:33] #52 closed, assigned to EddyVerbruggen

[2016-11-03 07:34] EddyVerbruggen commented on #52
Sweet! 2.2.2 is on npm.

[2016-11-03 21:17] EddyVerbruggen commented on #51
The Android implementation is ready to go, [check the doc](https://github.com/EddyVerbruggen/nativescript-mapbox#setonmapclicklistener-android). iOS is not likely to follow quickly as the Mapbox folks didn't expose an easy to use function yet. I hope this will at least offer some value to you.

Available from GitHub, not op npm yet.

[2016-11-06 02:04] jericdeleon commented on #45
I ran @giovannicandido's example; besides the above logs, there was a failed http call logged on my run:

Nov  6 09:56:06 Jerics-MacBook-Pro tnsexample[5338]: CONSOLE INFO file:///app/app.component.js:17:21: AfterViewInit
Nov  6 09:56:06 Jerics-MacBook-Pro tnsexample[5338]: CONSOLE LOG file:///app/tns_modules/@angular/core/bundles/core.umd.js:133:20: Angular 2 is running in the development mode. C

[2016-11-06 09:32] giovannicandido commented on #45
@lorcanfurey The log don't say what file is missing but I suspect that is the side-drawer-content.css (should be copied as side-drawer-content.platform.css to side-drawer-content.css)

I going to check on that

[2016-11-07 20:19] bradmartin commented on #41
If you need me @EddyVerbruggen just let me know 😄 . I might take a stab at this in the next few weeks if I get an itch

[2016-11-07 20:22] bradmartin commented on #16
Here's a little info: http://www.methodscount.com/?lib=com.mapbox.mapboxsdk%3Amapbox-android-sdk%3A4.1.1

[2016-11-07 20:24] bradmartin opened #53 "Change map style method"
I've not looked into the source of the SDKs to see if it's possible, but being able to change the map style dynamically would be a nice feature 😄 .

Specifcally looking to do against the XML rendered map after the fact.

Scenario: user loads the app doesn't like the default style or is hard on their eyes so they can try out 'dark'.

[2016-11-10 04:36] bradmartin opened #54 "iOS accessToken in XML not working"
Getting this dialog: https://github.com/EddyVerbruggen/nativescript-mapbox/blob/master/mapbox.ios.js#L34

Markup works fine on Android.
[code]

I'll dig around later and see if I'm missing something obvious

[2016-11-10 04:40] bradmartin commented on #54
This shows in the log when navigating to this page, it might be more useful to you than me Eddy. I have very little iOS knowledge 😄

[code]

[2016-11-10 18:34] EddyVerbruggen commented on #54
Hey Brad,

Looks like certain properties can't be used, not sure what's up with that, but doing it like this works (that accessToken error is just a symptom of that problem):

[code]

[2016-11-10 18:41] bradmartin commented on #54
Let me give that a try, actually was about to dig into the iOS error messages and see what in the world was going on 😄

[2016-11-10 18:47] EddyVerbruggen commented on #54
One thing I learned from iOS error messages: they're useless.

[2016-11-10 18:50] bradmartin commented on #54
Good to know lol, I'm still having an issue. Trying to see what attribute is causing an issue. Were you saying the snippet ^^^ worked?

[2016-11-10 18:55] EddyVerbruggen commented on #54
Yes it did for me. Perhaps try without `disableRotation` and `mapReady` first?

[2016-11-10 18:56] bradmartin commented on #54
Error

[code]

[2016-11-10 18:57] EddyVerbruggen commented on #54
That `id` must go

[2016-11-10 18:59] bradmartin commented on #54
Yea seems `id` is the issue on iOS... now to see what I need... blank map but no dialog.

Now this is constantly logging:

[code]

[2016-11-10 19:00] EddyVerbruggen commented on #54
My example posted above (without the id) and a correct accesstoken showed me a few US states

[2016-11-10 19:01] bradmartin commented on #54
Rendering now, so it is the `id` (I removed my grid properties 😉 )

[2016-11-10 19:02] EddyVerbruggen commented on #54
Do you need the id for anything?

[2016-11-10 19:02] bradmartin commented on #54
Was how I got the instance of the UI, but mapReady and then assigning will work. So don't need it but was just how I went about it.

[2016-11-10 19:03] EddyVerbruggen commented on #54
Ah, cool, btw I needed to do `mapReady="onMapReady"` instead of `mapReady="{{ onMapReady }}"` to make it work.

[2016-11-10 19:06] bradmartin commented on #54
Yea... I'll work on that, may just construct and pass into my view-model. No big deal, thanks for helping @EddyVerbruggen. Feel free to close, maybe doc the `id` not working on iOS 🤔

[2016-11-10 19:07] EddyVerbruggen commented on #54
ok, thanks for letting me know as well!

[2016-11-10 19:07] #54 closed, assigned to nobody

[2016-11-10 21:41] bradmartin commented on #54
I'm starting to question everything I believe in 😄
I'm not certain it is the `id` now.

[2016-11-11 04:18] bradmartin commented on #54
Still can't narrow it down 😞  - the map renders but I am constantly getting the `set accessToken warning and it seems the lat/long and zoom are being ignored.

I've simplified everything to make it easier to narrow down:

[code]

[2016-11-11 04:29] bradmartin commented on #54
It's very random and at this point IDK if it's the code not updating on the app, tried livesync and running with changes. Sometimes it works and sometimes it doesn't after making changes, just lost man.

[2016-11-11 08:45] EddyVerbruggen commented on #45
Make sure you're not using properties on the map component that are not explicitly listed in the readme (so stuff like id, row, etc need to go). You can control layout by wrapping the component in a `ContentView` like this:

[code]

[2016-11-11 08:48] EddyVerbruggen commented on #54
It turns out you have to make sure you're not using properties not listed in the readme, so the `height` property needs to go.

You can control layout like I'm doing in the [demo app](https://github.com/EddyVerbruggen/nativescript-mapbox-demo): wrap it in a `ContentView` like this:

[code]

[2016-11-11 09:31] EddyVerbruggen commented on #45
Btw, you'll want to update to 2.2.3 as there was a little bug in the previous version for showing XML maps on iOS when not using the `delay` property. My previous comment is still true though.

[2016-11-11 09:31] #45 closed, assigned to nobody

[2016-11-11 09:32] EddyVerbruggen commented on #54
Please update to 2.2.3 if you're not using the `delay` property as there was a little bug (unrelated to this issue).

[2016-11-11 09:34] EddyVerbruggen commented on #51
Android support landed in 2.2.3.

[2016-11-11 09:35] EddyVerbruggen commented on #53
Great suggestion once more - available in 2.2.3. Updated the [readme](https://github.com/EddyVerbruggen/nativescript-mapbox#setmapstyle), can be used from XML's `mapReady` as well.

[2016-11-11 09:35] #53 closed, assigned to nobody

[2016-11-11 12:57] bradmartin commented on #54
Thanks. Never used ContentView, wouldn't have guessed that.

On Fri, Nov 11, 2016, 3:32 AM Eddy Verbruggen notifications@github.com
wrote:

[2016-11-11 13:42] bradmartin commented on #54
I know why I think. Might have a PR later or early next week.

On Fri, Nov 11, 2016, 6:57 AM Brad Martin bradwaynemartin@gmail.com wrote:

[2016-11-12 21:01] bradmartin opened #55 "Question: marker tap on iOS simulator"
Unfortunately, I don't have an iOS device handy right now. On the simulator should/do the marker taps work? I have the markers rendered for locations and Android everything works fine so just curious if it should be working with the marker opening the `callOut` so I can get to that event.

[2016-11-12 21:55] EddyVerbruggen commented on #55
Just checked with a map rendered from code as well as XML and it seems to work nicely in the simulator:

![simulator screen shot 12 nov 2016 22 43 15](https://cloud.githubusercontent.com/assets/1426370/20242339/f0cb73e6-a92a-11e6-9440-753c0b493eae.png)

[2016-11-12 22:02] bradmartin commented on #55
Good to know. I'll keep digging. I think I have an idea maybe where I went
wrong.

On Sat, Nov 12, 2016, 3:55 PM Eddy Verbruggen notifications@github.com
wrote:

[2016-11-14 03:38] bradmartin commented on #55
Yea checked the demo and works fine. Not sure what's up here but guessing some order of operations and iOS stuff that I don't know about 😄

![snip20161113_3](https://cloud.githubusercontent.com/assets/6006148/20252577/1f2d43fe-a9e9-11e6-9c45-5d52cc312905.png)

If you see that image above it's from the debugger. I basically get an array of markers from an HTTP call, then loop the array and add the

[2016-11-14 05:05] bradmartin commented on #55
![snip20161113_4](https://cloud.githubusercontent.com/assets/6006148/20253961/8197c224-a9f5-11e6-9670-56a71c8481be.png)

Another debugger screen. I'm still not able to see why iOS doesn't work and Android will.

[2016-11-14 05:22] bradmartin commented on #55
Also stumbled across the `{{ mapready }}` bindings work on Android, no luck yet on iOS.

[2016-11-14 05:32] bradmartin commented on #55
FOUND IT!!!

If `delay` is set the marker taps won't work on iOS. Tested with demo code adding a marker in the `mapReady` event and my loop code and without the delay it works fine. If the `delay` is on the map the marker tap I can't get it to work.

[2016-11-14 10:35] tsonevn opened #56 "Nativescript Angular 2 issue while using MapBox inside the HTML"
The case is the following.
I have registered new Element inside the main.ts file using `registerElement` method.

`main.ts` file
[code]

Then I have try to use this element inside my HTML file as follow.
`app.component.html`

[code]
However on the screen will be show black box even, when the accessToken has been insert. The only way to use this component inside the NS Angular 2 project is to do fr

[2016-11-14 12:18] EddyVerbruggen commented on #56
Can you try without the `width` and `height` params?

[2016-11-14 15:26] tsonevn commented on #56
After removing the `width` and `height` the problem still exists and on the screen will be shown black box. Regarding to that in case you do not set `height`  to the component in iOS the height will be zero by default.

[2016-11-14 20:16] EddyVerbruggen commented on #56
You can wrap it in a `ContentView` and set the `width` and `height` params there, see the [demo](https://github.com/EddyVerbruggen/nativescript-mapbox-demo/blob/master/Mapbox/app/main-page.xml#L17-L29) for possible usage.

Note that at the moment on iOS you can only use the XML properties listed in the readme.

[2016-11-14 20:53] EddyVerbruggen commented on #55
Looks like the mapReady event fires when the map is loaded, ignoring any delay so that makes a lot of sense.

[2016-11-14 22:04] EddyVerbruggen commented on #55
Hey Brad, your feedback was great and it helped me find the problem. Should be OK now (not on npm yet, but it's here on github).

[2016-11-15 15:27] tsonevn commented on #56
Hi @EddyVerbruggen,
I reviewed once again this scenario and use `ContentView` for main container for MapBox, but still have the same problem. I made sample [project ](https://github.com/tsonevn/NGMapBoxTest) where the problem could be reproduced on iOS. Could you verify, whether I have missed something or it is real problem for NativeScritp Angular 2 project.

[2016-11-15 16:48] EddyVerbruggen commented on #56
Thanks for that demo project! Testing and debugging it now. Seems like the timing in an Angular context is a bit different and the plugin needs to be adapted for that. Will report back..

[2016-11-16 07:53] #55 closed, assigned to EddyVerbruggen

[2016-11-16 07:53] #56 closed, assigned to nobody

[2016-11-16 09:02] tsonevn commented on #56
Hi @EddyVerbruggen,

I have just tested the plugin on Android and the same behavior has been reproduced. I upgrade the sample  project and add following line `<service android:name="com.mapbox.mapboxsdk.telemetry.TelemetryService" />` in `AndroidManiest.xml` file. [sample project](https://github.com/tsonevn/NGMapBoxTest).

Regards,
@tsonevn

[2016-11-16 09:28] EddyVerbruggen commented on #56
Hmm, I assumed this issue was about iOS which was fixed in 2.2.4, have you tried that as well?

I can imagine Android still has the same issue indeed.

[2016-11-16 10:57] tsonevn commented on #56
I tried it with the new version 2.2.4 in Android and the same problem appears

[2016-11-16 10:59] EddyVerbruggen commented on #56
Please see my previous comment.

[2016-11-16 12:01] tsonevn commented on #56
Now on iOS it works as expected, however on Android it always give me the warning that I should add `accessToken`, which has been already included - > [https://github.com/tsonevn/NGMapBoxTest/blob/master/app/app.component.html#L4](https://github.com/tsonevn/NGMapBoxTest/blob/master/app/app.component.html#L4)

[2016-11-16 12:03] EddyVerbruggen commented on #56
Thanks for testing iOS, that's what has been fixed so far. Like I said: I didn't test nor fix Android yet.

[2016-11-16 17:02] EddyVerbruggen commented on #56
I've now applied a similar fix for Android - can you try the latest version from GitHub? Seems to work great with your demo app.

[2016-11-16 18:33] EddyVerbruggen commented on #39
I don't see how this is related to this plugin.

[2016-11-16 18:33] #39 closed, assigned to nobody

[2016-11-16 18:35] EddyVerbruggen commented on #23
The [demo app] uses a few different [marker styles](https://github.com/EddyVerbruggen/nativescript-mapbox-demo/tree/master/Mapbox/app/res/markers).

[2016-11-16 18:35] #23 closed, assigned to nobody

[2016-11-16 18:36] #27 closed, assigned to nobody

[2016-11-16 18:38] #37 closed, assigned to nobody

[2016-11-16 20:17] EddyVerbruggen commented on #20
Markers need to be downloaded before they can be used, and the plugin already supports adding markers from local files so it's doable currently but it would be user friendly to have the plugin handle the download process.

A tricky thing here is when multiple markers need to be added with different "remote" images things get messed up as downloads are async.

[2016-11-16 21:19] EddyVerbruggen commented on #20
Note to self: on iOS downloading marker images likely requires ATS exceptions to be added to the plist

[2016-11-16 21:47] EddyVerbruggen commented on #20
So you can now do one of these on both iOS and Android:

[code]

I've implemented a high performance algorithm that fetches and caches markers from urls. It's probably not perfect but for a first attempt I'm pretty happy.

This map uses images configured in various ways:

![simulator screen shot 16 nov 2016 22 40 50](https://cloud.githubusercontent.com/assets/1426370/20366959/c08d16c8-ac4d-11e6-91

[2016-11-16 21:47] #20 closed, assigned to nobody

[2016-11-17 06:25] tsonevn commented on #56
Thanks, I will try it and will write you back.

[2016-11-17 07:45] tsonevn commented on #56
I tested the plugin latest version from GitHub and now it seems to work as expected for both Android and iOS.

[2016-11-17 08:12] EddyVerbruggen commented on #56
That's great news, thanks for confirming it so quickly! I'll push 2.3.0 to npm later today so everyone can easily get this fix.

[2016-11-22 20:32] bradmartin opened #57 "iOS crash - this._mapLoadedCallback is not a function"
version 2.3
### Exception:

`
file:///app/tns_modules/nativescript-mapbox/mapbox.js:794:28: JS ERROR TypeError: this._mapLoadedCallback is not a function. (In 'this._mapLoadedCallback()', 'this._mapLoadedCallback' is undefined)
`

I haven't pinned down when/why this throws but saw it once when I navigated to the page with the map and then the map worked fine the next time (I think) sorry I don't h

[2016-11-22 20:42] EddyVerbruggen commented on #57
Perhaps we can get away with adding a `!== undefined` check to [this line](https://github.com/EddyVerbruggen/nativescript-mapbox/blob/master/mapbox.ios.js#L794)

[2016-11-22 21:36] bradmartin commented on #57
Now I can't get it to happen :( it's possible I had a version issue with updating and not installing the new iOS build. So this may not even be an issue.

[2016-11-23 22:03] dogabudak commented on #57
that generally happens if you are using emulator in live-sync mode, maybe it gives a clue ?

[2016-11-30 11:40] maabreve opened #59 "Set z-index programatically"
Hi,  im declaring the map programmatically inside a SideDrawer and the map is in a layer over the drawer.

Is it possible set z-index programatically?

Thank you

[2016-11-30 12:11] EddyVerbruggen commented on #59
Are you using the XML definition to create the map?

[2016-11-30 12:40] maabreve commented on #59
No, Im instantiating using  mapbox.show() in the .ts file (NS + Angular)

[2016-11-30 13:40] EddyVerbruggen commented on #59
So that's the answer then, defined the map in XML and you should be good; it's exactly why it has been added to the plugin.

[2016-11-30 13:40] #59 closed, assigned to nobody

[2016-11-30 14:59] maabreve commented on #59
Thanks!!

[2016-11-30 22:17] bradmartin opened #60 "Add more ignore"
- .vscode
- .idea
folders

[2016-12-02 08:58] EddyVerbruggen commented on #60
The ones you mention are already .gitignored..

[2016-12-02 09:00] EddyVerbruggen commented on #60
Aw snap, but they're not .npmignored... somehow I figured that .npmignore would be a superset of .gitignore but I now realize that's rubbish.

[2016-12-02 09:01] EddyVerbruggen commented on #60
Next version will be a bit cleaner, thx!

[2016-12-02 09:01] #60 closed, assigned to nobody

[2016-12-03 19:46] Stavanger75 opened #61 "Accuracy on the location icon for Android"
Hi

Would be great if accuracy where showing on the location icon. Is not working on Android. Work great on IOS. Probably related to #31 (where location icon is added in code)

Image with accuracy on location: (from README.md)
https://raw.githubusercontent.com/EddyVerbruggen/nativescript-mapbox/master/screenshots/ios-xml-declared.png

Ref #31
Accuracy image if needed
https://github.com/mapbox/mapb

[2016-12-05 00:23] nraboy opened #62 "Exception on Android with Mapbox in XML"
Hey,

I'm running into the following error:

[code]

It works fine on iOS, but not Android.  I've tried Android 4.4.4 and Android 5.0.1 without any luck.  The application is using NativeScript 2.4 with Angular and the Mapbox is declared via the XML.

Any ideas?

Thanks,

[2016-12-05 00:25] nraboy commented on #62
For your reference, my project is here:

https://github.com/nraboy/nativescript-photos-near-me

[2016-12-05 09:55] EddyVerbruggen commented on #62
Thanks for the demo project. The problem seems to be that in the XML definition an initial `latitude` and `longitude` property is required. I'll change that and see if I hit other issues as well with your demo.

[2016-12-05 14:55] #57 closed, assigned to nobody

[2016-12-05 15:01] EddyVerbruggen commented on #62
Check https://github.com/nraboy/nativescript-photos-near-me/pull/1

[2016-12-05 15:01] #62 closed, assigned to EddyVerbruggen

[2016-12-06 19:28] MadhuSudhanBhaskar opened #63 "MapBox crashing in Android version 7.1.1"
Hi,

I see the app is crashing when I use map box, in Android version 7.1.1. Weird part is, I don't see any error instead I get a message saying

JS: Mapbox show done
JS: Marker icon not found, using the default instead. Requested full path: /data/data/org.nativescript.groceries/files/app/res/markers/green_pin_marker.png

BTW I deployed to my phone, I see it to be working there its android 6.1.1 o

[2016-12-09 13:08] leocrawf opened #64 "Cannot read property 'setOnMarkerClickListener' of undefined"
I have simply map but I cannot get addMarkers to work but the map is rendered nicely.

 I set the map in xml like this:

      <ContentView height="100%" width="100%" class="m-l-0 m-r-0" style="margin-top: 190">
            <Mapbox
                accessToken="token"
                mapStyle="OUTDOORS"
                latitude="17.9958256"
                longitude="-76.7862368"
                zo

[2016-12-09 16:25] JasperAlgra commented on #63
Same here, using GenyMotion emulator with Android 7.0.0.
After moving the map or zooming my app crashes.

I'm using the Typescript/Javascript implementation to embed the map (not the XML/view implementation).

@EddyVerbruggen How long will this plugin be supported? I'm asking because you seem to work for Telerik, and I'm looking into building a new app based on the most trustworthy/LTS stuff :)

[2016-12-09 16:52] EddyVerbruggen commented on #63
Hi guys, I have an actual device running 7.x without issues so it may be down to the options we're using. Can you share your project or a code snippet that reproduces the error please?

@JasperAlgra I support about a hundred Cordova and NativeScript plugins. Not planning on stopping that at all.

[2016-12-09 16:55] EddyVerbruggen commented on #64
Hi, are you on 2.3.1? I tried to fix that in that version.

[2016-12-09 16:55] MadhuSudhanBhaskar commented on #63
Hi Eddy!!

https://github.com/MadhuSudhanBhaskar/NativeTest/tree/angular-start/app

Link to my project, it actually breaks in simulator. But tested it on
device 1+1 android 6.1.1 it works fine. But not sure about 7.1.

Regards,
Madhu

On Fri, Dec 9, 2016 at 5:52 PM, Eddy Verbruggen <notifications@github.com>
wrote:

--
Regards,
Madhusudhan Bhaskar
Cell: +31 685898121

[2016-12-09 17:39] leocrawf commented on #64
I am using 2.3.1

[2016-12-09 23:14] MadhuSudhanBhaskar commented on #64
@EddyVerbruggen I get the same thing, I am not able to add markets to the map. This is my gitrepo.

Not just markers center or other apis, please look into this.

https://github.com/MadhuSudhanBhaskar/NativeTest/blob/angular-start/app/app.component.ts

[2016-12-10 04:39] imekinox commented on #41
Hello @EddyVerbruggen Im trying to implement Polyline, but Im at the point in which everything complies and runs but the polygon or polyline is not rendered... I also had connected the directions API and rendered a marker per point in the route. Still, as you said, is tricky I see no reason why it doesn't show up... do you have any idea? I think it's drawing the polyline but somehow not rendering

[2016-12-10 09:28] AKNiazi commented on #64
@leocrawf @MadhuSudhanBhaskar I looked into your examples and I came up with this.

[code]

It is working fine on my Android Emulator and device.

[2016-12-10 09:40] MadhuSudhanBhaskar commented on #64
@AKNiazi But in my case its not onload, mine is after some calls. Do I have to copy args to a variable on load in that case?

[2016-12-10 10:02] AKNiazi commented on #64
@MadhuSudhanBhaskar. You can do something like

[code]

Once you have the init map object, you can use it any time.

[2016-12-10 10:16] MadhuSudhanBhaskar commented on #64
@AKNiazi I get markers working and zoom, but setCenter is always Nigeria even with your co-ordinates.

[2016-12-10 13:07] leocrawf commented on #64
**@AKNiazi** what version of the plugin are you using is it 2.3.1?

[2016-12-10 13:11] MadhuSudhanBhaskar commented on #64
@leocrawf Looks like it works with above way, but some time setcenter does not work. I am using
map box "nativescript-mapbox": "^2.3.1",

[2016-12-10 13:20] leocrawf commented on #64
**@MadhuSudhanBhaskar** Thank you for comments. What do you get if you console.log() out your event object like this:

onMapReady(args){
    this.map = args.map;
     this.setCenter();
     console.log(this.map);
  }

I get Mapbox(255) though I do not really know what that means but I am trying to see if you get something different. One other thing I am testing on android device. What are you test

[2016-12-10 13:29] MadhuSudhanBhaskar commented on #64
I am testing it on Android as well. Will see what it logs.
On 10-Dec-2016 2:20 PM, "leocrawf" <notifications@github.com> wrote:

[2016-12-11 15:24] leocrawf commented on #64
Even after following all that instruction I am still not seeing the marker only the map. I will do a tns build android and tns run android.

[2016-12-11 16:17] leocrawf commented on #64
I did a tns build android and tns run android but still no marker only map.

[2016-12-11 16:20] MadhuSudhanBhaskar commented on #64
May be can you share your repo here?

Regards,
Madhu
On 11-Dec-2016 5:17 PM, "leocrawf" <notifications@github.com> wrote:

[2016-12-12 19:22] leocrawf commented on #64
My bad. I was not calling this.mapbox().  It now works as expected.

    setCenter(){
    this.map.setCenter(
    {
      lat: 52.3602160, // mandatory
      lng: 5.8891680, // mandatory
      animated: true // default true
    });
     this.mapbox()
   }

[2016-12-12 21:22] leocrawf commented on #64
I am now seeing marker but no popup with text.

[2016-12-20 07:48] iljagrabar14 opened #65 "Mapbox dissapear, when call routerExtensions.back()"
I use mapbox in my application. When I navigate on the page, where I use map, all works perfect. After that I tap on one of the markers and I navigate on the next page. But when I click backButton, or call routerExtensions.back() on the next page, I return on the page with map, but map dissapears. I can tap blindly on my map markers and I will navigate on the next page, but I don't see map.

Here

[2016-12-20 13:11] request-eduardo opened #66 "Can't use the component on Android 4.4.4 or lower"
Hi, Has someone been able to run the component on Android 4.4.4? I have only been able to load the app on Android 5.0 to 7.0 but any attempt to load it on 4.4.4 or lower has been futile, and I guess by the documentation that Mapbox SDK should run on Android 15 and higher, and Nativescript on Android 17 and higher... I'm using Genymotion to do my tests, and here's my test repo
https://github.com/re

[2016-12-20 13:18] request-eduardo commented on #66
Hi, I forgot to give details on the error I'm getting.

When opening the app I only get a modal with "Unfortunately, ploc has stopped." and an OK button. Also I don't get any feedback at all in the nativescript CLI which in my short experience with nativescript is kind of unusual.

[2016-12-20 13:36] csorgocsaba commented on #64
Hi!
I'm in a same situation. But i have another problem too because I want to call some function from out of onMapReady. E.g. I want to setCenter(markers) when user set the position of the new center. Could I call this function out of onMapReady?
I tried this:

onMapReady(args){
  this.map = args.map;
}

setCenter(options){
  this.map.setCenter(
    {
      lat: 1.0,
      lng: 1.0,
      animated

[2016-12-20 19:11] leocrawf commented on #64
**@csorgocsaba** From my simple tests and it has been said by others here that setCenter does not work as intended.

[2016-12-23 08:56] ahalls opened #67 "Nativescript Mapbox on iOS retain memory after navigation away"
I'm using Angular 2, with router-outlet navigation.  My app is killed by the OS for using too much memory after I navigate away from the page with the MapBox map and return.  It's clear that the memory associated with the Mapbox instance is not being released.

I put a log statement in ngOnDestroy() and it is being called when I expect it to be.  Is there anything I can do to force the SDK to rele

[2016-12-27 03:53] ahalls commented on #67
Created a sample project with this problem.
https://github.com/ahalls/mapboxtest

[2016-12-30 10:15] EddyVerbruggen commented on #67
Thanks for the sample!

When attaching a profiler and going back and forth between those 2 pages I can see that memory builds up. Looks like JS is keeping a reference (possibly Angular even).

Can you try changing `app/tap.component.ts` to:

[code]
And tap the 'tap' button after each visit to the map? Curious to learn if that fixes your crash as `utils.GC()` should clear any lingering JS garbage,

[2016-12-30 14:04] Stavanger75 commented on #67
@ahalls do you have the same problem if you define maps in code instead of XML ? I have 2 projects running mapbox plugin in classic JS and Typescript. The one with map defined in XML is eating a lot of memory and gets killed. The other project has map defined in code and is running fine. (eating memory but at much lower pace).  I have not checked this further since maps defined in code is working

[2016-12-30 21:59] yasalmasri opened #68 "user location by xml"
Hi

I have tried to show user location by generating the map by xml, it shows on iOS but on Android does not appear.

[code]
if I generate the map programmatically, it shows the user location on both iOS and Android.
but by XML does not show on Android.

Thanks

[2016-12-30 23:00] ahalls commented on #67
@Stavanger75  I have not tried creating the map from code.   I need to place the map in the context of other components.   I didn't see a way to find a container and place the map in the container from code.   Is there a way?

[2016-12-31 00:18] ahalls commented on #67
@EddyVerbruggen directly calling a GC() a little bit after the navigating from the Map page with the  significantly reduces the growth of the memory footprint of the app.  There is still leaked memory ~20MB instead of ~300 MB  as I had before.  It was even worse until I started using `navigate()` from the RouterExtensions instead of the the Angular2 Router.   It might make the app acceptable to my

[2016-12-31 07:03] EddyVerbruggen commented on #67
Thanks for confirming that. I think for now you'll need this silly workaround since getting to the rootcause will be very hard. The leak may be caused by many things and thus will take quite some time to figure out.

[2016-12-31 18:27] Stavanger75 commented on #67
@ahalls I have not used Angular 2 i am afraid only 1.x so i can unfortunately not help you with creating angular component. I use classic JS with Typescript only. Good calling GC() helped on some of the memory leak. Hope you get it sorted out.

[2017-01-02 08:02] ahalls commented on #67
I've found a similar issue with Android as well.

[2017-01-04 06:19] ahalls opened #69 "Custom Style URL, Angular2 created in XML crashes on iOS"
I would like to use a custom MapStyle URL.  I'm using Angular2/Nativescript.  I've created the map using in XML.

[code]

Crashes on iOS with:
[code]

Works on Android.

[2017-01-05 06:28] ahalls commented on #69
I'm guessing a NSString is provided where a NSURL is expected.

http://stackoverflow.com/questions/33014184/terminating-app-due-to-uncaught-exception-nsinvalidargumentexception-reason

[2017-01-06 17:42] EddyVerbruggen commented on #69
Thanks for reporting *and* fixing this!

[2017-01-06 17:42] #69 closed, assigned to nobody

[2017-01-10 22:44] auser commented on #40
Did you ever get this solved? I'm hitting the same bug.

[2017-01-11 00:52] ahalls commented on #40
@auser  This seems to be a build problem.  I would suggest you 'Nuke' your project
[code]
Remove your app from the device or emulator

Then build again with `tns run ios `

Once the build issues are resolved then I could go back to using `livesync`

[2017-01-11 18:24] auser commented on #40
Yep. I did that with both and it fixed it :)

[2017-01-13 08:46] rhanb commented on #28
Hi,

Do you know when this feature will be available?

Thanks :)

[2017-01-14 15:02] rhanb commented on #28
I would love to contribute and try to implement this feature but I don't see any CONTRIBUTING.md file, could you provide one @EddyVerbruggen ?

Thanks :)

[2017-01-14 15:09] EddyVerbruggen commented on #28
Hi,

Never needed to in the past.. what would you expect to be in it, do you have an example?

Thx!

[2017-01-14 20:08] rhanb commented on #28
Here is a blog post from github about it @EddyVerbruggen :

https://github.com/blog/1184-contributing-guidelines

And an example:

https://github.com/angular/angular/blob/master/CONTRIBUTING.md

[2017-01-14 20:33] EddyVerbruggen commented on #28
Interesting. But is not having that holding you back in any way?

[2017-01-14 23:22] rhanb commented on #28
It's just a standard to implement a contributing guideline on an open source project.
It's to avoid waste of time for new collaborators when they try to figure out how the project is coded.

Effectively, I will try anyway if you don't plan to implement this feature :)

[2017-01-16 13:01] vakrilov opened #71 "[IOS] onCalloutTap event stops working"
Steps to reproduce:
- Show map with marker with `onCalloutTap` handler (`onTap1`)
- Tap on marker callout -> `onTap1` is called
- Remove the marker using `removeMarkers`
- Show another marker with the same settings but with different `onCalloutTap` handler (`onTap2`)
- Tap on marker callout -> `onTap1` is called instead of `onTap2`

[2017-01-18 17:01] EddyVerbruggen commented on #66
(sorry for the late reply)

If the cli doesn't give any useful info, `adb logcat` should. Would you be willing to dump the log here?

[2017-01-18 17:04] request-eduardo commented on #66
Of course, Give me a couple of hours and I will upload it here

Thanks for the reply
On Wed, Jan 18, 2017 at 2:03 PM Eddy Verbruggen <notifications@github.com>
wrote:

[2017-01-18 17:06] EddyVerbruggen commented on #66
Cool. I have a 4.4.4 device which I'll give a spin as well. Used it with great success in the past with this plugin, but perhaps it's currently broken. Btw, Genymotion caused me pain with this plugin as well (not all, but most of the images), so switched to real devices because of it.

[2017-01-18 19:08] EddyVerbruggen commented on #68
Looks like you have a point, I don't think that has been implemented for Android yet. Let me take a look.

[2017-01-18 21:47] EddyVerbruggen commented on #68
Can you give it a try with the latest version on GitHub (not on npm yet, but soon).

This also manages the permissions for Android 6+ automatically, no longere needed to ask those beforehand.

[2017-01-18 21:51] #71 closed, assigned to nobody

[2017-01-19 09:01] EddyVerbruggen opened #73 "Automatically handle Android 6+ permissions"

[2017-01-19 09:01] EddyVerbruggen commented on #73
Added to 2.4.0

[2017-01-19 09:01] #73 closed, assigned to nobody

[2017-01-19 09:02] #68 closed, assigned to EddyVerbruggen

[2017-01-19 09:03] EddyVerbruggen commented on #63
Please reopen if this issue pops up on and actual device with version 2.4.0.

[2017-01-19 09:03] #63 closed, assigned to nobody

[2017-01-19 09:04] #40 closed, assigned to nobody

[2017-01-19 18:13] request-eduardo commented on #66
I will paste here the ADB LOGCAT you requested... I get this on any
Genymotion image <= Android 4.4.4

Nonetheless I am a little relieved because I could get a hand on a Sony
Zperia L with 4.2.2 and it runs fine...

D/        (   64): Socket deconnection
D/        (   64): Socket deconnection
D/        (   64): Socket deconnection
D/        (   64): Socket deconnection
D/        (   64): Socket de

[2017-01-19 18:37] EddyVerbruggen commented on #66
Thanks for that. Searched for Genymotion in the Mapbox SDK and it looks like you're not alone: https://github.com/mapbox/mapbox-gl-native/search?q=genymotion&type=Issues&utf8=%E2%9C%93

[2017-01-19 18:59] request-eduardo commented on #66
Guess the problem comes from the SDK itself... Thanks a lot Eddy

Keep up the great job

I'm startin to base most of my work on nativescript + angular and you've
become omnipresent everywhere I go... I lack expertise on native
development but anytime I get the chance to collaborate on the projects,
I'll be all in.

On Thu, Jan 19, 2017 at 3:37 PM Eddy Verbruggen <notifications@github.com>
wrote:

[2017-01-19 19:08] EddyVerbruggen commented on #66
Much appreciated!

[2017-01-19 19:08] #66 closed, assigned to nobody

[2017-01-21 14:48] EddyVerbruggen commented on #28
I'd like to have it added to the plugin, it's just not priority yet.

[2017-01-21 14:48] #28 closed, assigned to nobody

[2017-01-23 15:54] Dangradz opened #74 "My app has stopped to work"
Hi everyone,
I have exactly followed what Eddy said in the tutorial.
This is the xml file:
`<Page xmlns="http://schemas.nativescript.org/tns.xsd" xmlns:map="nativescript-mapbox" navigatingTo="navigatingTo">
  <StackLayout>
    <Label text="Nice map, huh!" class="title"/>
    <ContentView height="240" width="240">
      <map:MapboxaccessToken="pk.eyJ1IjoiZGFuZ3JhZCIsImEiOiJjaXk4dHh4dmUwMDJwMndydXVs

[2017-01-24 09:32] ghost commented on #74
Try to add it programatically rather then adding to XML directly.

[2017-01-24 09:33] Dangradz commented on #74
I have tried and I have got the same error... Should I change emulator?

[2017-01-28 16:27] EddyVerbruggen commented on #33
Clustering has recently been added to the native SDK (on Android in v 4.2.0) so it's time to look at this again!

[2017-01-29 20:17] EddyVerbruggen opened #75 "[performance] Move to Mapbox-Android's 5.0 SDK"
Mapbox moved to SurfaceView (was TextureView) and man, it shows! Supernice 60FPS perf FTW

[2017-01-29 20:17] #75 closed, assigned to nobody

[2017-01-29 20:19] EddyVerbruggen commented on #65
Not sure, but you should declare your map in XML to make it easy to navigate back and forth and avoid having to manually show and hide the map.

[2017-01-29 20:19] #65 closed, assigned to nobody

[2017-01-29 20:20] EddyVerbruggen commented on #33
2.5.0 has marker clustering on Android, but I couldn't get unclustered markers to show up so it's an undocumented feature for now.

[2017-01-29 20:21] EddyVerbruggen commented on #14
I think this was a problem with the Mapbox SDK. Shouldn't happen in more recent versions.

[2017-01-29 20:21] #14 closed, assigned to nobody

[2017-01-31 20:35] EddyVerbruggen commented on #41
@imekinox Sorry I didn't see your comment before - you can send a PR if you like and I'd be more than happy to take a look.

[2017-02-01 04:20] shivapersad opened #76 "Zoom controls"
How can I enable Zoom controls (zoom in and zoom out) using this plugin? I've checked through the attributes but not seeing an option to enable it. Thanks.

[2017-02-01 18:30] EddyVerbruggen commented on #76
Can you check the Mapbox native SDK's for this option? If it's possible there please reopen and link to their docs/code.

[2017-02-01 18:30] #76 closed, assigned to nobody

[2017-02-04 03:14] tskweres commented on #67
This issue solved? Or does anyone know of another plugin without the memory leak?

My entire app is the map so it's critical :(

[2017-02-09 15:51] nunogrocha opened #78 "Telemetry Issue"
Been having a telemetry error show up, starting this afternoon, even without changing anything in the manifest, running nativescript-mapbox 2.5.1

I had the following Telemetry:
`<service android:name="com.mapbox.mapboxsdk.telemetry.TelemetryService" />`

The error only stopped after I changed it to:
`<service android:name="com.mapbox.services.android.telemetry.service.TelemetryService" />`

Hope

[2017-02-10 11:36] alexmtmorgan commented on #78
Got the same error on my project and this solved the issue. Thanks!

[2017-02-10 11:55] EddyVerbruggen commented on #78
Anyone up for a PR to fix it in the plugin? 2 locations to update..

[2017-02-12 14:44] slushnys opened #79 "MapBox plugin failing to install on angular-seed-advanced"
So I'm trying to get this plugin to work but it fails to install. Maybe someone had this issue from before and could give me a heads-up how to solve this?

[code]

[2017-02-12 15:38] slushnys commented on #79
Due to old cocoapods version and mapping of pods this wasn't working, had to remove master repo and update cocoapods to make it work.

[2017-02-12 15:38] #79 closed, assigned to nobody

[2017-02-13 16:12] xeaon opened #80 "Cannot read property 'getLocationServices' of undefined"
Hi,

i'm trying to add a mapbox to my view (android). My view uses the RadSideDrawer from Telerik UI (actually I'm using [nativescriptng2drawerseed](https://github.com/ntrp/nativescript-ng2-drawer-seed)) and implements OnInit.

I've used @nraboy's demo app [nativescript-photos-near-me](https://github.com/nraboy/nativescript-photos-near-me) to get into everything. Seemed to be pretty easy, however

[2017-02-14 16:27] GrEg00z commented on #80
I get exactly the same problem, with nativescript angular.

But the thing very strange is : when I have installed the mapBox plugin, few weeks ago, everything worked good !
And few days ago, I made a tns run android (as I use to do, when I need it),
And Bam ! My app doesnt want to start again !! Because telemetry mapbox Error !?!?
So I had to add `<service android:name="com.mapbox.services.android

[2017-02-16 10:56] j99ht commented on #78
Still having the same issue. Installed NativeScript 2.5.0 and mapbox plugin 2.5.1
It was working but when android platform was removed and added again, it stopped working.
I have added the service Telemetry but does not help. Any idea?

[2017-02-16 13:43] nunogrocha commented on #78
What's the error output? I found out the possible solution described above because the "new telemetry link" was included in the error message.

[2017-02-16 13:49] j99ht commented on #78
This is the error output
An uncaught Exception occurred on "main" thread.
com.tns.NativeScriptException:
Calling js method run failed

Error: com.mapbox.services.android.telemetry.TelemetryException: Please, make sure you add the Telemetry service (`com.mapbox.services.android.telemetry.service.TelemetryService`) to your `AndroidManifest.xml` file. For more information, please visit https://www.ma

[2017-02-16 20:28] shivapersad commented on #78
I used the AndroidManifest.xml entry at the start of this thread and had to remove and add back the android platform to get the map to display. I have markers on my map and when the map loads I get the following console output:

JS: Unhandled Promise rejection: iconFactory.fromDrawable is not a function ; Zone: <root> ; Task: Promise.then ; Value: TypeError: iconFactory.fromDrawable is not a funct

[2017-02-17 09:48] elvismercado opened #81 "Can't get map to show in nativesrcipt angular project"
I get a blank box.

In the terminal i get the following error: `Failed to bind EAGLDrawable: <CAEAGLLayer: 0x600000830ac0> to GL_RENDERBUFFER 1`

See this image: [http://imgur.com/a/6xYj9](url)

`main.ts`
`
import * as elementRegistryModule from 'nativescript-angular/element-registry';
elementRegistryModule.registerElement("Mapbox", () => require("nativescript-mapbox").Mapbox);
`

`mymap.html`
`
<

[2017-02-19 10:38] Equisetum commented on #78
Took me some time to find out, but you have to add the line:
   ` <service android:name="com.mapbox.services.android.telemetry.service.TelemetryService" `/>`
in two AndroidManifest.xml files within the application node.
* appfolder\platforms\android\src\main\AndroidManifest.xml
* appfolder\app\App_Resources\Android\AndroidManifest.xml
then force a rebuild of your app

[2017-02-19 13:31] EddyVerbruggen commented on #78
@Equisetum see my previous comment. Let's help each other out by creating a pull request to change those paths 🤝

[2017-02-19 13:54] Equisetum commented on #78
I'd love to, but I am inexperienced. Would not even know how to start.

[2017-02-19 13:57] EddyVerbruggen commented on #78
Nice!

1. Fork this repo by pressing that 'Fork' button at the top.
2. Change the files (2) in your fork. You can do this by doing a `git clone <repo url>` or use GitHub's edit function.
3. Select the 'Pull Requests' tab (next to the 'Issues' tab).
4. Submit the PR.

[2017-02-19 15:27] EddyVerbruggen commented on #81
This may be nothing, but you're registering `Mapbox` and using `MapBox` (uppercase 'B').

Is the accesstoken correct? That blank map may indicate it's not..

[2017-02-20 10:11] simonettoa commented on #80
Same error here...

[2017-02-21 03:46] HathawayJA opened #83 "Potential Conflict with nativescript-barcodescanner?"
Issue was found to be personal error. Sorry!

[2017-02-21 15:35] elvismercado commented on #81
I am registering and using `Mapbox` correctly. I will ' check the access token again and let you know if it was that.

[2017-02-21 16:37] Equisetum commented on #74
I had my app working, then i had the same as described above. And now it's not working anymore.  Beneath is the logcat i get.

I have followed the tutorial. and runing the app in Genimotion free. I can't figure out what to do next. Anyone a suggestion?

[2017-02-21 19:08] shivapersad opened #84 "How to destroy map?"
Presently I am able to show the map but I am having an issue to destroy the created map. I currently have it set to "hide" when I go back to my Homepage but on iOS is there a short delay for the map to get hidden so the screen goes back to the Homepage and the map remains onscreen temporarily before being hidden. Is there any way to destroy the map when the "ngOnDestroy()" lifecycle even is called

[2017-02-21 22:19] Dangradz opened #85 "Edit a map defined into the xml"
Is it possible to edit dynamically from the .js a map that has been defined into the xml? How can I refer to it into the js?

[2017-02-21 23:10] shivapersad opened #86 "Unable to get markers to display"
@EddyVerbruggen

I am running "nativescript-mapbox @ 2.5.1". I was able to get the map to show on the Android version but the markers are not appearing and I get the following in my console log:

JS: Unhandled Promise rejection: iconFactory.fromDrawable is not a function ; Zone: <root> ; Task: Promise.then ; Value: TypeError: iconFactory.fromDrawable is not a function TypeError: iconFactory.fromDr

[2017-02-22 14:53] j99ht opened #87 "Program failed to link at com.mapbox.mapboxsdk.maps.NativeMapView.nativeRender"
I cannot run mapbox plugin neither on my Android emulator, running Android 6 nor on a device with Android 4.2

However it runs on another device with Android 6.

The error I'm getting is the following

`An uncaught Exception occurred on "main" thread.
java.lang.Error: program failed to link
at com.mapbox.mapboxsdk.maps.NativeMapView.nativeRender(Native Method)
at com.mapbox.mapboxsdk.maps.NativeMa

[2017-02-22 16:54] KuboStraka opened #88 "Can't download offline region on Android"
Hi,
I need to use offline maps in my app (android and ios).

When I tried to use `mapbox.downloadOfflineRegion` method I got and Error. After few minutes of debugging I noticed, that there is no `mapbox.downloadOfflineRegion` method in your _mapbox.android.js_ file (_../node_modules/nativescript-mapbox/_), there are only methods for deleting and list of offline regions.

But in _mapbox.ios.js_ the

[2017-02-23 13:32] KuboStraka commented on #88
Hi again,
I managed to solve my problem by copying the `mapbox.downloadOfflineRegion` method from former release (2.4.0) and paste it into _mapbox.android.js_ file in my project.

This solved my problem.

Anyway, the `mapbox.downloadOfflineRegion` method is missing in the latest release (2.5.1).

[2017-02-23 22:06] Dangradz commented on #85
nobody?

[2017-02-24 14:14] GrEg00z commented on #80
Anybody help us !! Still not possible to show our location marker (in real time)

[2017-02-24 14:21] xeaon commented on #80
@GrEg00z you can still use ```nativescript-geolocation``` to get the location in "realtime" and and update the map, if the location changes.

[2017-02-27 05:42] amjadm opened #89 "Custom marker tooltip"
I am using mapbox in nativescript, how we can add a custom view (HTML or XML) to the marker tooltip.

Markers show only title and subtitle, I need to view my own layout instead

[2017-02-28 11:33] seros00 commented on #85
You can refer to the map with the onMapReady function:
`function onMapReady(args) {
  var map = args.map;
}`

[2017-03-02 05:58] shyandsy commented on #87
exactly same problem

[2017-03-02 08:23] EddyVerbruggen commented on #87
@shyandsy on what devices?

[2017-03-02 17:40] shyandsy commented on #87
on android virtual machine api 24

@EddyVerbruggen
https://github.com/EddyVerbruggen/nativescript-mapbox/issues/90

发自我的 iPhone

[2017-03-02 18:05] shyandsy opened #90 "make sure you add the Telemetry service to your androidManifest.xml"
- TNS 2.5.2

- ANDROID API 24

- typescript 2.1.6

- test demo program:
[mapbox-error-demo.zip](https://github.com/EddyVerbruggen/nativescript-mapbox/files/814675/mapbox-error-demo.zip)

########################################################

1. I created a test project base on this project

https://github.com/NativeScript/template-hello-world-ts
by
tns create my-app-name --template tns-template

[2017-03-02 18:50] EddyVerbruggen commented on #89
Please ask this in the Mapbox repo, I don't think that's possible atm.

[2017-03-02 18:50] #89 closed, assigned to nobody

[2017-03-02 19:07] Equisetum commented on #90
See this link: https://github.com/EddyVerbruggen/nativescript-mapbox/issues/78#issuecomment-280910344

[2017-03-02 19:42] shyandsy commented on #90
@Equisetum
i change the service to
<service android:name="com.mapbox.services.android.telemetry.service.TelemetryService" />
in both androidManifest.xml
but still not working
![image](https://cloud.githubusercontent.com/assets/5271457/23523924/458ea474-ff4e-11e6-872f-8375a04a3465.png)

try to rebuild
[code]
still not working

try to remove platform and readd platform
[code]
still not working

demo

[2017-03-03 15:18] nraboy commented on #80
Hey @EddyVerbruggen,

It seems that when I wrote the example in question everything worked fine, but in recent updates, whether that be to NativeScript or the Mapbox plugin, things started to break with the errors listed in this thread.

I've tested this in Android and can validate the accuracy.

Best,

[2017-03-03 16:35] EddyVerbruggen commented on #80
One really annoying thing about the Mapbox SDK (especially on Android) they tend to move classes around (package-wise) a lot.

That's the case for `TelemetryService` which is fixed in 2.5.2 and perhaps for `LocationServices` as well. Taking a look..

[2017-03-03 16:41] EddyVerbruggen commented on #80
Yep, [LocationServices was removed](https://github.com/mapbox/mapbox-gl-native/commit/c97ec3be0397290e172299c49361f5033270f150#diff-46e306e0b640932953a21d48ec94da86), that's what causes "Cannot read property 'getLocationServices' of undefined".

Usually I pin to a specific version but I needed the 5.x SDK in the last update but it was still a snapshot release at the time. They've actually released

[2017-03-03 17:12] nraboy commented on #80
Thanks @EddyVerbruggen !

[2017-03-03 18:39] EddyVerbruggen commented on #90
Working on something similar in #80

[2017-03-03 18:39] #90 closed, assigned to nobody

[2017-03-03 19:42] EddyVerbruggen commented on #80
You're welcome @nraboy - I've now updated the locationservices stuff as well. I must say this is a much better implementation than it ever was on Android; the Mapbox SDK needed you to draw your own location marker on Android, whereas on iOS it was all managed internally by Mapbox. Android is on par with iOS now.

Please update the plugin from GitHub as this fix is not on npm yet. If one of you guy

[2017-03-03 23:58] shyandsy commented on #80
is this mean I must use nativescript angular ?

I am using typescript, but there is no registerElement available

[2017-03-03 23:59] shyandsy commented on #90
@EddyVerbruggen
hi i am using Typescript and i saw that #80 using something from nativescript angular

[2017-03-04 14:37] EddyVerbruggen commented on #80
@shyandsy no, there's no need for Angular at all. Just follow [these instructions](https://github.com/EddyVerbruggen/nativescript-mapbox#declaring-a-map-in-xml-recommended-approach).

[2017-03-04 15:18] EddyVerbruggen commented on #80
Found why the markers no longer worked: a method was removed from the Mapbox SDK, so I'm now using a different one.

[2017-03-04 15:18] #80 closed, assigned to EddyVerbruggen

[2017-03-04 15:20] EddyVerbruggen commented on #88
It must have been removed unintentionally. A bit strange... Thanks for bringing this to my attention, I'm re-adding it in 2.5.2.

[2017-03-04 15:20] #88 closed, assigned to EddyVerbruggen

[2017-03-04 15:28] EddyVerbruggen commented on #87
I hope this is fine with 2.5.2. Please reopen if the problem persists with a real device.

[2017-03-04 15:28] #87 closed, assigned to nobody

[2017-03-04 15:29] EddyVerbruggen commented on #86
I've found the cause and fixed this problem in 2.5.2 in issue #80. Thanks for reporting it!

[2017-03-04 15:29] #86 closed, assigned to nobody

[2017-03-04 15:31] shivapersad commented on #86
Ok great. I would like to test but presently getting an issue adding the android platform back to my Nativescript application (error: sed: invalid replacement string). Once I get it back up and running I'll test it and let you know.

[2017-03-04 15:32] shivapersad commented on #84
@EddyVerbruggen Any assistance with this issue?

[2017-03-04 15:39] EddyVerbruggen commented on #84
Lol, I was just typing a reply: Your usecase has a better fit for the map defined in XML, so it's destroyed when the view is destroyed.

[2017-03-04 15:42] shivapersad commented on #84
Do you have an example app I can reference to do the XML use case? Thanks.

[2017-03-04 15:43] EddyVerbruggen commented on #84
See the readme and the [demo app](https://github.com/EddyVerbruggen/nativescript-mapbox-demo).

[2017-03-04 15:43] EddyVerbruggen commented on #86
OK, I'll publish 2.5.2 to npm shortly.

[2017-03-04 15:45] shivapersad commented on #84
Any change you have an Angular+Typescript example?

[2017-03-04 15:48] shivapersad commented on #86
Ok will try to update the package in a couple hours and see if you've pushed it to npm. By the way do I still need to add

<service android:name="com.mapbox.services.android.telemetry.service.TelemetryService" />

to the AndroidManifest.xml or can I use the previous service?

<service android:name="com.mapbox.mapboxsdk.telemetry.TelemetryService" />

Thanks.

[2017-03-04 15:49] EddyVerbruggen commented on #86
The plugin will handle that for you, no need to add it yourself.

[2017-03-04 15:50] EddyVerbruggen commented on #84
The first comment in #80 seems fine, except for the issue fixed in 2.5.2.

[2017-03-04 15:50] shivapersad commented on #86
Ok great. Thanks! Sorry for being a pain.

[2017-03-04 15:51] shivapersad commented on #84
Ok. Will give it a shot. Thanks again.

[2017-03-04 15:52] EddyVerbruggen opened #91 "Add a 'destroy' method"
`hide` just hides the map, but it doesn't clean up the map. The new `destroy` method will.

[2017-03-04 15:53] EddyVerbruggen commented on #86
You're not 👍

[2017-03-04 16:14] #91 closed, assigned to EddyVerbruggen

[2017-03-04 20:37] seros00 commented on #87
After updating to nativescript-mapbox 2.5.2, same problem in Android 4.2.2 device and emulator API 23.
The error with v2.5.2;

`An uncaught Exception occurred on "main" thread.
java.lang.Error: program failed to link
at com.mapbox.mapboxsdk.maps.NativeMapView.nativeRender(Native Method)
at com.mapbox.mapboxsdk.maps.NativeMapView.render(NativeMapView.java:175)
at com.mapbox.mapboxsdk.maps.MapView.o

[2017-03-04 22:33] nraboy commented on #80
Hey @EddyVerbruggen,

I can confirm the errors went away on Android.  There was an application crash without error, but I think my simulator might be botched.  I'll open a new ticket if it continues.  It only happened once.

Please push the fix to NPM.

Thanks,

[2017-03-04 23:21] shyandsy commented on #90
@EddyVerbruggen  still not working

![image](https://cloud.githubusercontent.com/assets/5271457/23583188/b095438a-0102-11e7-84c5-2845830bf106.png)

could u check the new version of demo I provided??

[mapbox-error-demo-v2.zip](https://github.com/EddyVerbruggen/nativescript-mapbox/files/819012/mapbox-error-demo-v2.zip)

[2017-03-05 03:08] shyandsy commented on #90
got error message "program failed to link at com.mapbox.mapboxsdk.maps.MativeMapView.nativeRender"
![image](https://cloud.githubusercontent.com/assets/5271457/23584131/601bd5e8-011d-11e7-93d3-bbc6e6746d87.png)

code
[mapbox-error-demo-v3.zip](https://github.com/EddyVerbruggen/nativescript-mapbox/files/819077/mapbox-error-demo-v3.zip)

[2017-03-05 04:42] shivapersad commented on #86
Hey @EddyVerbruggen. I tested the 2.5.2 so my map displays with markers but when I zoom in on an area the app crashes :(. This is only affecting the Android version. iOS is fine.

[2017-03-05 12:27] EddyVerbruggen commented on #90
That first issue was probably solved, the second may be down to the emulator you use. Did you try this on an Android 4.4 or higher *device*?

[2017-03-05 12:27] EddyVerbruggen commented on #80
It's on npm.

[2017-03-05 12:45] EddyVerbruggen commented on #85
It's in the [readme](https://github.com/EddyVerbruggen/nativescript-mapbox#declaring-a-map-in-xml-recommended-approach), look for `onMapReady` as @seros00 suggested.

[2017-03-05 12:45] #85 closed, assigned to nobody

[2017-03-06 17:21] GrEg00z commented on #80
Works great !

Thanks @EddyVerbruggen

[2017-03-09 05:33] shyandsy commented on #90
@EddyVerbruggen
I tried yesterday

the mapbox-error-demo-v3.zip  works correct on real phone, but doesnt work on simulator

[2017-03-10 14:07] j99ht opened #92 "getZoomLevel is not a function"
I'm trying to use getZoomLevel as in the mapbox demo

[code]
However, I'm getting this error

[code]
I'm using mapbox plugin 2.5.1 and tried also with 2.5.2 (but the map was not stable with this release). And nativescript 2.5.2

Am I doing anything wrong?

[2017-03-14 22:42] shyandsy opened #93 "Error in mapbox.setCenter: TypeError: Cannot read property 'setCameraPosition' of undefined"
when I set center in the onmapready method
[code]

[code]

I got the error message said
[code]

the error occured in mapbox.android.js
![image](https://cloud.githubusercontent.com/assets/5271457/23925533/a61e0e18-08dd-11e7-828b-08dea1062604.png)

[2017-03-14 22:44] shyandsy opened #94 "setviewport bounds doesnt work"
The map shows whole north american and south american after I use this code in onMapReady(args)
[code]

![111](https://cloud.githubusercontent.com/assets/5271457/24009176/227577de-0a42-11e7-9255-f45394bc4f06.jpg)

[2017-03-15 11:20] seros00 commented on #92
I have the same issue with a XML-based map. With `mapbox.show()` the `getZoomLevel()` function works fine.

I just read the `README.md` file and it says:

So, is it impossiple to get the zoom level in a XML-based map?

[2017-03-15 11:23] seros00 commented on #93
Try to use `args.map.setCenter()` instead of `mapbox.setCenter()`

[2017-03-15 16:31] seros00 commented on #92
I have create 3 (sorry!) pull requests to fix this.
Once the code is adapted for XML-based maps, the returned value could not be obtained because the functions in the prototype were not 'thenables'.
This way, you can add more `getX() `functions.

[2017-03-16 17:01] shyandsy commented on #93
nice it works
thank you

[2017-03-16 20:28] #93 closed, assigned to nobody

[2017-03-16 20:45] EddyVerbruggen commented on #92
Thanks for your PR's @seros00, merged them all and will release a new version shortly.

[2017-03-16 20:45] #92 closed, assigned to nobody

[2017-03-16 20:52] #84 closed, assigned to nobody

[2017-03-16 20:54] EddyVerbruggen commented on #78
Closed via #82

[2017-03-16 20:54] #78 closed, assigned to nobody

[2017-03-16 20:55] #81 closed, assigned to nobody

[2017-03-16 20:55] EddyVerbruggen commented on #67
@tskweres Did you try the [GC trick?](https://github.com/EddyVerbruggen/nativescript-mapbox/issues/67#issuecomment-269754678)

[2017-03-16 21:11] tskweres commented on #67
@EddyVerbruggen client put the project on hold :/ Been watching this thread though to see any updates, I love Mapbox and use it  heavily on the web

[2017-03-16 21:55] EddyVerbruggen commented on #94
Honestly don't know why this is broken on Android (seems to work fine on iOS). I think it's a bug in the Mapbox SDK which I'll bump for the next version. If it persists I'll look elsewhere.

[2017-03-16 22:44] shyandsy commented on #94
ok thanks

发自我的 iPhone

[2017-03-16 22:46] shyandsy commented on #94
@EddyVerbruggen
https://github.com/mapbox/mapbox-gl-native/issues/3321

[2017-03-21 11:02] tsonevn opened #98 "[Feature request] support getCenter method for XML create maps"
Ability to get a center of the map view, while using a map created via XML.

[2017-03-22 11:02] EddyVerbruggen commented on #98
Added in 2.6.0. Make sure you update the Android repository stuff (run `android` in a terminal and update outdated libraries).

[2017-03-22 11:02] #98 closed, assigned to nobody

[2017-03-22 11:03] EddyVerbruggen commented on #94
Can you please give 2.6.0 a spin? It's much better than it was. Make sure you update the local Android Repository (run `android` in a terminal window).

[2017-03-23 17:15] mnaughto opened #99 "Add ability to "clear" map"
For refresh purposes, it's inconvenient that there's a way to programmatically add markers, lines, and polygons, but only to remove markers and lines. I know the android SDK has a `clear` function which removes everything from the map, so it'd be great if that could be added to this library.

[2017-03-23 17:22] EddyVerbruggen commented on #99
Cool. Can you point to that method here? And perhaps iOS as well?

[2017-03-23 17:27] mnaughto commented on #99
For iOS, it appears to be the same as removing anything else: https://www.mapbox.com/ios-sdk/api/3.5.0/Classes/MGLMapView.html#/c:objc(cs)MGLMapView(im)removeAnnotations:

So just calling `[map removeAnnotations: map.annotations]` or whatever

[2017-03-23 17:30] mnaughto commented on #99
For Android, it's here https://www.mapbox.com/android-sdk/api/5.0.0/com/mapbox/mapboxsdk/maps/MapboxMap.html#clear--

[2017-03-23 17:32] EddyVerbruggen commented on #99
Thanks!

[2017-03-24 08:04] ghost opened #100 "I want back to the map page without executing onMapReady"
Hello!
I now encounter a problem, I return to another page in the map page, the map page onMapReady event implementation, I use the Angular2, the routing socket is used in the <page-router-outlet> </ page-router-outlet > This is the cache, the components of the Hook are not implemented, only onMapReady event implementation. Is there any solution?

[2017-03-29 12:07] j99ht opened #101 "Map labels not displayed"
When the same mapbox style is shown on two different Android devices, in one of them, some labels are not displayed. I'm attaching screenshots.
Can anybody help out on how to fix this?
![screenshot](https://cloud.githubusercontent.com/assets/13207577/24453626/f858086c-1488-11e7-929e-0ed707943ef3.png)
![screenshot_2017-03-29-13-56-36](https://cloud.githubusercontent.com/assets/13207577/24453627/f85

[2017-03-29 12:23] EddyVerbruggen commented on #101
That's really a question for the mapbox sdk guys.

[2017-03-29 12:23] #101 closed, assigned to nobody

[2017-03-31 14:22] ahalls commented on #67
@EddyVerbruggen  Still having problems with this issue.  Calling GC() all over the place.

[2017-04-01 12:05] ahalls commented on #67
@EddyVerbruggen I'm going to try to call `mapbox.destroy()`  but having trouble finding the handle to the mapbox object when I create it via XML/Angular2

[code]
the destroy() call return undefined method on object

[2017-04-01 13:40] EddyVerbruggen commented on #67
@ahalls Can you please try that again with 2.6.1?

[2017-04-01 15:21] ahalls commented on #67
With the above referenced test app.

I do a GC on ngInit ...
I'm loosing only 5MB on a round trip.  This is a big improvement over ~350MB I was loosing.

It is probably good enough for our application.   But not for a full scale (web scale)  production app.

I don't think you should close this issue.

[2017-04-20 09:27] idomaz00 opened #102 "Plugin not adding telemetry service in manifest, map not showing"
When I add plugin version 2.6.1 to my project (nativescript and angular2) it doesn't want to even start, I get :

BUILD FAILED
Total time: 43.729 secs
Command /Users/izabela/Documents/projekti/NativeScript/NativeScriptGeolocation/platforms/android/gradlew failed with exit code 1

When I try adding an older version of this plugin 2.3.1. (that works in a project I created cca 20 days ago) my app sta

[2017-04-20 13:12] j99ht opened #103 "onMapReady called several times IOS"
I have declared a map in XML
[code]
Debugging my app (IOS version) I realized that the code goes up to 3 times to onMapReady function.

Inside onMapReady I am setting zoom level and map center coordinates and I set a timer to re-paint the markers every x seconds.
[code]
When the map is shown (this is not always happening), it does not react to clicks or dragging and I believe this is caused for lo

[2017-04-20 13:16] EddyVerbruggen commented on #103
I haven't confirmed your finding, but I can imagine it happens. I will fix this for the NativeScript 3-compatible version that I'm working on next week (update: [PR for iOS](https://github.com/EddyVerbruggen/nativescript-mapbox/pull/104) is ready, need to work on Android next).

[2017-04-22 11:31] #94 closed, assigned to nobody

[2017-04-25 19:29] EddyVerbruggen commented on #102
What plugin version is on that testing app, and did you add the TelemetryService to App_Resources/Android/AndroidManifest.xml in that case?

[2017-04-27 16:14] GrEg00z commented on #103
Same issue than @j99ht
I put a flag to prevent multiple call inside onMapReady

[2017-04-27 16:19] GrEg00z opened #105 "iOS : mapBox very slow and app crash often"
On iOS, mapbox looks very slow and long to react, compared to android version.

Also app often crash after multiple `tns run ios`, without display any error

Here is version I use :
 - iPhone 6 (version 10.2 (14C92)
 - nativescript mapbox : 2.6.1
 - tns info :
   * angular : 2.4.3
   * nativescript : 2.5.4 │ Up to date
   * tns-core-modules : 2.5.2 │ Up to date
   * tns-android : 2.5.0 │ Up to dat

[2017-04-27 16:20] EddyVerbruggen commented on #105
Which Mapbox plugin version?

[2017-04-27 16:21] GrEg00z commented on #105
2.6.1

[2017-04-27 16:21] EddyVerbruggen commented on #103
This is probably fixed with the 3.0.0 that's NativeScript 3 compatible. Please let me know if this issue remains after trying that one.

[2017-04-27 16:21] #103 closed, assigned to nobody

[2017-04-27 19:48] ButterMeWaffle opened #106 "angular webpack"
Is there any info on using this plugin with NG + webpack?

Thanks

[2017-04-28 09:39] j99ht commented on #103
How can I install tns-core-modules3 before NativeScript3 is available?
I'm getting this when I'm trying to install nativescript-mapbox 3..0.0
`nativescript-mapbox@3.0.0 requires a peer of tns-core-modules@^3.0.0 || ^3.0.0-rc.1 || ^3.0.0-rc.2 || >=3.0.0-2017 but none was installed.`

[2017-04-28 09:41] EddyVerbruggen commented on #103
@j99ht `npm install -g nativescript@rc` will get you the latest release candidate of the CLI. Same trick can be done for the core modules.

[2017-04-28 10:05] j99ht commented on #103
Getting this

I have used this
[code]

[2017-04-28 10:07] EddyVerbruggen commented on #103
When does that pop up?

Did you completely remove the node_modules and platforms folders?

[2017-04-28 10:16] j99ht commented on #103
When the app is about to start. It shows the splash screen but nothing else (a map should be shown).

The complete logs

[code]

[2017-04-28 10:26] EddyVerbruggen commented on #103
That's unrelated to this plugin so it must be something wrong in the build. Did you completely remove the node_modules and platforms folders?

[2017-04-28 11:54] j99ht commented on #103
It works now. Thanks.

[2017-04-28 12:04] j99ht opened #107 "Full screen map not shown in v3.0.0"
If I define the map with
       ` <ContentView height="240" width="240">`
the map is correctly shown.

However if I set `<ContentView>` to have a full screen map, the map is not shown.

This was working on previous versions. Is there any change in v3.0.0 I should take into account?

[2017-04-28 12:10] EddyVerbruggen commented on #107
Could be changed indeed. Is this iOS?

How did you previously defined the fullscreen map?

[2017-04-28 12:18] j99ht commented on #107
Yes, it is IOS.

I did it in this way

[code]

[2017-04-28 12:24] EddyVerbruggen commented on #107
And what does it look like?

[2017-04-28 12:33] j99ht commented on #107
Now,

![image](https://cloud.githubusercontent.com/assets/13207577/25528860/f53f8bec-2c1f-11e7-82b8-95b0b97de126.png)

Before (in the new one I have removed all the others elements)
![image](https://cloud.githubusercontent.com/assets/13207577/25528877/02e4dbb2-2c20-11e7-9966-3428bf597bb4.png)

2017-04-28 14:24 GMT+02:00 Eddy Verbruggen <notifications@github.com>:

[2017-04-28 12:40] EddyVerbruggen commented on #107
Thx, I have an idea why this changed.

[2017-04-29 00:39] slushnys commented on #107
@j99ht if you're using angular2:
`import {screen, device} from 'platform';`

then in the your component define the height of your screen like this:

`
let mapHeight : number = 0;
    constructor() {
        this.mapHeight = screen.mainScreen.heightPixels;
    }
`
In your `<ContentView [height]="mapHeight"></ContentView>`

Let me know if that helps.

[2017-05-02 21:46] EstebanErcole opened #110 "mapbox.common.d.ts(1,32) -- view.d.ts' is not a module."
My applications stops when trying to access to the view module from the tns_core-modules. located on node_modules/tns-core-modules/ui/core/view.d.ts' is not a module.

the "view.d.ts" doesn't export any module but declares. Other plugins seams to work fine with this but not mapBox. Any ideas?

Thanks in advance!!

[2017-05-03 07:22] Dangradz opened #111 "Blank screen when I open the map"
When I open the page with the map I have a blank screen with no error in the console... I don't understand why

[2017-05-03 07:55] EddyVerbruggen commented on #111
Would you mind providing some details? Like plugin version, iOS/Android, device, and most importantly: code.

[2017-05-03 08:01] Dangradz commented on #111
I use my phone (android 7.0.0), the version of the plugin is 2.5.2, here the xml code:
 <StackLayout>
    <ContentView class="map">
          <map:MapboxView
          accessToken="sk.eyJ1IjoiZGFuZ3JhZCIsImEiOiJjajI4bjdmNDIwMDU1MnlvN2Q4YWQxdWpxIn0.g3JGcysbvTEnZzYBHIWqJw"
          mapStyle="Mapbox Streets"
          latitude="43"
          longitude="12"
          zoomLevel="14"
          showUser

[2017-05-03 08:25] EddyVerbruggen commented on #111
Version 2.5.2 doesn't use `map:MapboxView` but `map:Mapbox`, sorry for the inconvenience.

[2017-05-03 08:25] #111 closed, assigned to nobody

[2017-05-03 09:04] Dangradz opened #112 "Icon path"
I have solved the previous issue, thank you very much... Now I would like to set a custom icon to the markers but it doesn't find the icon... where am I wrong?

here the code:

 map.addMarkers([
    {
      id: counter,
      lat: lat,
      lng: lng,
      title: description,
      iconPath: '~/images/map/markers/markerFood.png',
    }]);

    counter++;

[2017-05-03 09:06] EddyVerbruggen commented on #112
The example says to not use the `~` prefix: `iconPath: 'res/markers/green_pin_marker.png'`.. can you try that?

[2017-05-03 09:07] Dangradz commented on #112
also with "res" I have the same issue
this is the error:
JS: Marker icon not found, using the default instead. Requested full path: /data/data/org.nativescript.AppEtice/files/app/res/images/map/markers/markerFood.png

[2017-05-03 09:08] EddyVerbruggen commented on #112
Show me a screenshot of the image at ` /data/data/org.nativescript.AppEtice/files/app/res/images/map/markers/markerFood.png` plz

[2017-05-03 09:10] Dangradz commented on #112
Ok i have figured it out, I was doing wrong about the image location, actually I don't have a "res" folder, I changed the path to "images/map/markers/markerFood.png" and it works

[2017-05-03 09:13] #112 closed, assigned to nobody

[2017-05-03 09:59] Dangradz opened #113 "Marker icon from URL"
How could I create a custom icon marker from the code? I mean something like this https://www.mapbox.com/mapbox-gl-js/example/custom-marker-icons/

I should style the marker, but I don't know how to do it

[2017-05-03 15:38] Dangradz opened #114 "Markers disappear on changing model"
I have inserted the map inside the xml of my home page... When I load the home page I insert some markers into the map, if I change module and I come back to the home page, I load the markers and then suddenly remove them, I don't understand why....
I thought maybe the system loads two maps, one over the other, so I have tried to use the method mapbox.destroy() and mapbox.hide() but both of them d

[2017-05-05 12:41] j99ht opened #115 "Android - Map not shown using Angular and v3.0.0"
I have tried to run an example just showing a map using Angular, Nativescript 3 and nativescript-mapbox v3.0.0 but without success.

This is my code
app,component.html (or xml also tried)
[code]

app.component.ts
[code]
The only thing I see is a blue square according to the background color defined.

I'm not getting any error neither from the app nor from the console.
Token and style are OK becaus

[2017-05-05 13:46] Dangradz commented on #114
I have noticed that the marker disappear as soon as it is called that ChildListener of firebase (this events change my markers)

[2017-05-05 17:41] GrEg00z commented on #115
Add this to the top of your component :

[code]

[2017-05-07 02:17] d3mac123 commented on #113
I also need this exactly feature. Is it possible to customize something like this?

[2017-05-07 17:29] briandilley commented on #41
Any update on this?

[2017-05-07 17:33] EddyVerbruggen commented on #41
Not from me.

[2017-05-07 20:07] j99ht commented on #115
This is what I get

Successfully prepared plugin nativescript-angular for android.
Successfully prepared plugin nativescript-intl for android.
Successfully prepared plugin nativescript-mapbox for android.
Successfully prepared plugin tns-core-modules for android.
JS: ns-renderer: ERROR BOOTSTRAPPING ANGULAR
JS: ns-renderer: viewClass is not a constructor
JS:
JS: TypeError: viewClass is not a const

[2017-05-07 23:38] GrEg00z commented on #115
Try to remove mapStyle attribute, and also if you're using angular, you should write the attributes like this :
[accessToken]="...", [latitude]="...", etc...
And (mapReady)="mapReady()" (where mapReady is a function defined in your component ts file)

[2017-05-08 11:35] sowrabhbs commented on #105
@GrEg00z are u using mapbox using xml or ts??

[2017-05-08 14:35] GrEg00z commented on #105
I use angular so I write the mapBox in my html view component (and register element mapBox in ts file component)

But I'm switching to 3.0.0 so I will tell you if it resolves the problem

[2017-05-08 23:56] d3mac123 opened #116 "Crashing on iOS and on Android"
My app is running fine until I install the Mapbox plugin (version 2.5.0) and evoke it from my XML file:
[code]
Without adding any other code, I get this:
- Running on iOS I get no compiling errors but I cannot see any map drawn :(

On Android it is even worse as the app does not compile:
/Users/alexsouza/buddyFinder/platforms/android/build/intermediates/res/merged/F0F1F2F3F4/debug/values-v24/value

[2017-05-11 19:49] d3mac123 commented on #105
I am having the same problem here with iOS (running tns 2.5.0 and mapbox 2.6.1). Difference is my Android does not even compile:
/platforms/android/build/intermediates/res/merged/F0F1F2F3F4F5/debug/values-v24/values-v24.xml:4: AAPT: Error retrieving parent for item: No resource found that matches the given name 'android:TextAppearance.Material.Widget.Button.Colored'.

[2017-05-11 20:15] d3mac123 opened #117 "Compass and user location not showing"
Hi, even with both parameters set to true, they are not showing up...
[code]
![image](https://cloud.githubusercontent.com/assets/229148/25969958/f11e210a-3664-11e7-92a1-48eff7db8263.png)

[2017-05-11 20:18] EddyVerbruggen commented on #117
For compass you may need to rotate the map a bit (2 finger rotation gesture).

For location: what's your device location set to, and did you grant permission?

[2017-05-11 21:13] d3mac123 commented on #117
Right now I am using only the iOS emulator (I do have an Android device but I have reported another issue as Android is not compiling the app - if you can check the other post, it would be much appreciated).

Regarding the compass, is there a way to keep it on all the time (my app will be a GPS tracker and having the compass would be great)?

What is the right way to set the device location? I add

[2017-05-11 21:29] EddyVerbruggen commented on #117
The location of a simulator can be set via the macOS menu (when the sim is in the foreground): Debug > Location.

[2017-05-12 19:42] mlb6 commented on #115
@GrEg00z Your solution worked for me. Thanks

[2017-05-12 21:11] d3mac123 commented on #117
User location is showing only on iOS. Does not show on Android.

![screen shot 2017-05-12 at 5 10 36 pm](https://cloud.githubusercontent.com/assets/229148/26017116/053e1902-3736-11e7-9b05-3cc731d6902d.png)

[2017-05-14 02:00] #116 closed, assigned to nobody

[2017-05-14 02:29] d3mac123 opened #118 "GeoJSON"
Can I import geoJSON files?

[2017-05-15 20:52] rnonnon commented on #117
Hi,

If you use genymotion emulator for Android, you have to enable GPS configuration.
![image](https://cloud.githubusercontent.com/assets/14371587/26078841/0f808674-39c1-11e7-9c26-fedd0d234a63.png)

[2017-05-16 01:54] d3mac123 opened #119 "[QUESTION] Map rotation following user location"
Is it possible to "follow" the user location, auto rotating the map? For example, if I am walking towards the north, I would like the map "following me".

Setting the center does not rotate it.

Something like this setting (from the React Mapbox plugin):
[code]
I have tried checking the plugin code to see how difficult is to implement this. It seems not a big deal but, unfortunately, as I never co

[2017-05-16 11:54] j99ht commented on #115
Sorry for the question but I'm newbie to this.

How can I set accessToken and mapStyles then?

2017-05-12 21:42 GMT+02:00 Martin Le Bas <notifications@github.com>:

[2017-05-16 13:49] rhanb commented on #115
Hi @j99ht ,

You have two different to to do it:

### Angular componentt:
[code]
# OR

### XML:
[code]
AND

### Angular Component:
[code]

And this apply to any custom views with properties in Angular you always have those two options.

[2017-05-16 15:28] b4rtt opened #120 "Angular2 calling functions"
Hi,

I cant get working calling functions like adding markers etc in angular2 TS. Could anyone give me sample of calling function? Is it possible?

Thank you

[2017-05-16 21:45] d3mac123 opened #121 "Right usage of setMapStyle"
I don't know if I am properly using the
`mapbox.setMapStyle(mapbox.MapStyle.STREETS);`

I have a button that (besides other things) should change the mapStyle. However, I keep getting the following error:
`CONSOLE LOG file:///app/tns_modules/nativescript-mapbox/mapbox.js:217:18: Error in mapbox.setMapStyle: TypeError: undefined is not an object (evaluating 'theMap.styleURL = mapbox._getMapStyle(st

[2017-05-17 06:37] j99ht commented on #115
It works. Thanks.

Also the map is working as well.

2017-05-16 15:49 GMT+02:00 JB <notifications@github.com>:

[2017-05-17 06:41] #115 closed, assigned to nobody

[2017-05-17 19:31] #121 closed, assigned to nobody

[2017-05-19 09:45] GrEg00z commented on #105
I confirm the problem is no more present while using
 - Nativescript 3.0.1
 - nativescript-mapbox 3.0.0

👍 👍

[2017-05-19 09:45] #105 closed, assigned to nobody

[2017-05-19 15:07] idomaz00 commented on #102
hi, I am sorry about the late answer, I had to work on another project...that testing project was with plugin version 2.3.1 that is why I tried it again in this new project. Today I tried again with the latest plugin version 3.0.0 and it still gives me the same error. In all cases I added telemetry service in manifest file but it didn't help.
My old app with 2.3.1 version of that plugin still work

[2017-05-20 06:40] j99ht opened #122 "title and subtitle mandatories for addMarkers in v3.0.0 (Angular + Android platform)"
After many tests I realized that title and subtitle fields in a marker object are required to have the marker working properly.
If those items are not included, onTap function is not called.

That is my code not working
[code]
And this is the code working
[code]

[2017-05-20 14:51] EddyVerbruggen commented on #122
Thanks. Any word on iOS?

[2017-05-21 16:30] #120 closed, assigned to nobody

[2017-05-21 16:34] b4rtt opened #123 "Apple Mach-O Linker Error Group"
Hi, I have problem with built project.

In simulator everything works good but when I open built project in XCode and I run build it gives me **Apple Mach-O Linker Error Group - clang: error: linker command failed with exit code 1 (use -v to see invocation)** and building dies. I really don't know where should be problem. For example here I have repository with problematic project. https://github.

[2017-05-22 08:48] idomaz00 commented on #102
Update: I tried everything again on a Windows laptop, it runs your demo app with no problems so the problem I described earlier must be a problem with my environment.
The only thing that is still strange is that it does not add telemetry service to manifest file, but the app still works.
I guess you can close the issue

[2017-05-23 17:51] b4rtt opened #124 "Angular2 markers custom image doesn't work"
Everything works fine. Marker is visible but it has default image not custom.
[code]

[2017-05-23 18:03] EddyVerbruggen commented on #124
Can you share your repo so I can see what that path points to? Or a screenshot of your folders perhaps.

[2017-05-23 19:23] b4rtt commented on #124
@EddyVerbruggen here you can see problematic project repository https://github.com/b4rtt/geoapp. Thank you for help

[2017-05-23 21:30] KuboStraka opened #125 "Marker onTap - after navigating back to map"
Hi @EddyVerbruggen,
I am using nativescript + angular and your mapbox plugin version 2.6.1 (because I need to due to other plugins). My app has numerous pages while one of them is Map page.

Map is instantiate using XML definition and further "map related operations" like  addMarkers, setCenter.. are done programmatically thanks to "onMapReady" function.
[code]
And I am facing this curious problem

[2017-05-24 12:15] b4rtt commented on #124
@EddyVerbruggen and on tap event doesn`t work too

[2017-05-24 14:07] EddyVerbruggen commented on #124
Thanks for the demo app. I haven't used it with Angular so I'll need some time to figure this out.

[2017-05-24 14:12] EddyVerbruggen commented on #124
First thing I tried was this and at least that seems to work, perhaps you can build on that?

HTML (last line of the map definition)
[code]

Component:
[code]

[2017-05-24 15:02] EddyVerbruggen commented on #125
Interesting case.. do you destroy the map when the page is destroyed?

[2017-05-24 15:11] b4rtt commented on #124
@EddyVerbruggen In my code addMarkers() setCenter() etc. is working, but marker hasn't custom image. I tried local image and URL image too. I still see default marker icon. Marker tap event doesn't work too

[2017-05-24 15:21] EddyVerbruggen commented on #124
But your demo app doesn't have the `green_pin_marker.png` icon in the app/res/ folder, right?

[2017-05-24 16:20] b4rtt commented on #124
@EddyVerbruggen Right I know that image in this repo isn't. I have updated repo. But it was not problem. It still doesn't work. When I change it to http image it still doesn't work

[2017-05-24 16:20] #117 closed, assigned to nobody

[2017-05-24 21:42] ghost opened #126 "In version 3.0.0, mapbox.show() promise never resolves (iOS)"
Just upgraded to nativescript-mapbox v3.0.0 and now when I try to declare a map programmatically, the promise just hangs, and the code in the .then() block never runs. Can you help? I am on iOS, with nativescript-angular v3.0.0

By the way, thanks for all your work on this project. I've been following it for a few months now and it's really great!

[2017-05-25 05:42] wisonye opened #127 "NativeScript 3.0, clone and Run FAIL, could you guys have a look,"
Hey guys, I install `NativeScript 3` and then `git clone` and run two commands below, just can't run your demo successful:

## `npm run setup` is fine

[code]

###

## But `npm run demo.ios` is FAIL, by the unclear error message: `--preserve-metadata=identifier,entitlements: no identity found` , podfile cause install the latest MapBox version
 - Mapbox-iOS-SDK (3.5.4), here is the entire log:

[co

[2017-05-25 05:59] wisonye opened #128 "Is it "MapboxNavigation" will integrate into this plugin ??? If yes, then When ?"
It will be very happy to see you guys make this happen on NativeScript plugin:

[mapbox-navigation-ios](https://github.com/mapbox/mapbox-navigation-ios/)
[MapboxNavigation](http://cocoadocs.org/docsets/MapboxNavigation/0.3.0/)

[2017-05-25 09:29] j99ht commented on #125
It is happening something similar to me.
My onTap function is writing some text into a gridlayout  (already included in the same xml).
First time, I see the gridlayout with the right text when I click on the marker. Then I move to a different screen.
When I return back to the map, after markers are added, if I tap one of them I can see the marker title, I also see onTap function is being executed,

[2017-05-25 11:29] j99ht commented on #122
On IOS I have the issue related here [https://github.com/EddyVerbruggen/nativescript-mapbox/issues/103]. When I add the markers to the map, the map is not reacting to clicks, drag and so on.

Update: I achieved to fix this. It was related to other elements in my html.

Regarding the markers, yes, same issue in IOS than in Android. In IOS, if title and subtitle are not set, icon is not found either

[2017-05-26 01:13] wisonye commented on #127
It's already solved by upgrading `XCode to 8.2`, closed.

[2017-05-26 01:13] #127 closed, assigned to nobody

[2017-06-04 17:05] d3mac123 opened #129 "Failed resolving constructor for class 'com.mapbox.mapboxsdk.geometry.LatLng' with 2 parameters."
My code was working fine until I had the bad idea of updating NS to 3.0. Now, I can see the map on the screen but all related features (setCenter, redraw with the geolocation watchID, etc) stopped to work and I am assuming it is related to the following error in the console:
`Error in mapbox.setCenter: Error: java.lang.Exception: Failed resolving constructor for class 'com.mapbox.mapboxsdk.geometr

[2017-06-06 15:08] #129 closed, assigned to nobody

[2017-06-06 15:16] d3mac123 opened #130 "Map is not touchable in iOS"
For some reason I couldn't figure out, my map is not touchable in iOS (works fine in Android), meaning:
- I can't zoom it
- I can't click markers

It seems like there is some kind of overlay on top of it, not allowing the touch to reach the map.

Below my XML (I even tried to remove references to the drawer object, to guarantee it wasn't conflicting with that - problem stills):
[code]

In my code:

[2017-06-06 18:02] #130 closed, assigned to nobody

[2017-06-07 07:00] davidpronk opened #131 "Use with Mapbox on-premise installation"
Would it be possible to use nativescript-mapbox with an on-premise installation of Mapbox? In other words, configure the mapbox server url.

[2017-06-07 07:11] EddyVerbruggen commented on #131
I have no idea. What would that take?

[2017-06-07 12:05] davidpronk commented on #131
By default Mapbox tiles are loaded from https://api.tiles.mapbox.com and I am looking for a way to change this to another domain which hosts Mapbox as mentioned at https://www.mapbox.com/atlas/
But I guess I should dig deeper into the Mapbox-native code.

[2017-06-07 12:25] EddyVerbruggen commented on #131
Would be cool if you can find where in the SDK this can be configured.

[2017-06-13 19:38] User00015 opened #132 "Marker onTap not functioning properly in 3.0.0"
An investigation into an issue with the onTap method for marker's reveled the following code issue:

[code]
Both getTitle() and getSnippet() are undefined, and appear to only be set from this method:
[code]

It's unlikely that this is intended functionality.

[2017-06-15 13:07] dogabudak opened #133 "Map Doesn't show"
My application was working properly until i update my tns-version. Now my application works but the map doesn't show on the screen. I get these two errors while I want to reach the map

[INFO] {DefaultFileSource}[Database]: [0e5ffd9123]:38280: (3) open(/Users/dogabudak/Library/Developer/CoreSimulator/Devices/FA8FBC63-02CF-435C-8F13-7728E7F4AE1B/data/Containers/Data/Application/D1EDE0E6-632A-4C4C-8

[2017-06-15 13:33] EddyVerbruggen commented on #133
Depends on the code you use to render the map. If it's an XML definition then yeah, see the readme.

[2017-06-15 13:40] dogabudak commented on #133
Oh didn't saw that on the first glance sorry,
      IMPORTANT: plugin version 3 uses :MapboxView, lower versions use :Mapbox

now its fixed

[2017-06-15 13:51] EddyVerbruggen commented on #133
Cool!

[2017-06-15 13:51] #133 closed, assigned to nobody

[2017-06-20 19:52] VladimirAmiorkov commented on #123
Maybe [this](https://github.com/googlevr/gvr-unity-sdk/issues/539#issuecomment-294738041) will help you. Basically do not open the .**xcodeproj** but the **.xcworkspace**

[2017-06-21 00:48] d3mac123 opened #134 "Fitbounds"
Besides bringing the addPolygon to iOS, it would be nice to have also the fitbounds function.

[2017-06-21 14:21] davidpronk commented on #131
This Stackoverflow page answers my question: https://stackoverflow.com/a/36837943 There is a possibility to configure a url for where sources are loaded from.

[2017-06-21 14:21] #131 closed, assigned to nobody

[2017-06-23 09:55] b4rtt opened #135 "Icon and OnTap is working only in costructor"
Hi,

I found this issue. When I click to button which calls function (loadPoints), marker is shown but with default icon and impossible to make it clickable.

Adding markers in constructor is working fine without problem.

https://github.com/b4rtt/geoapp/blob/master/app/pages/login/login.page.ts

Is any way how to solve it?

Thank you

[2017-06-23 13:24] d3mac123 opened #136 "(QUESTION) Is there a way to capture when the map is scrolled?"
My app keeps the user always in the middle of the map (centered). However, I would like to allow the user move the map and then, after a few seconds, see it returning to the center position.

I couldn't find a way to capture if the map was moved (so I can start the setTimeout function). Is it possible?

Thanks, Alex

[2017-06-24 21:43] d3mac123 commented on #41
I'd love to hear (hopefully some good) news here. I'm even considering paying for this feature as my app has the ability to show the route on Android but not on the iPhone.

[2017-06-30 22:01] raschdiaz-zz opened #137 "Problem after install plugin"
After install the plugin, my project presents the following exception:

C:\xampp\htdocs\NativeScriptExample1\platforms\android\build\intermediates\res\merged\F0F1F2F3F4F5\debug\values-v24\values-v24.xml:3: AAPT: Error retrieving parent for item: No resource
found that matches the given name 'android:TextAppearance.Material.Widget.Button.Borderless.Colored'.

C:\xampp\htdocs\NativeScriptExample1\pl

[2017-07-03 22:42] ghost opened #138 "require causing error on ios"
Hi, I've installed the plugin, this is what my package.json file entry looks like:

"nativescript-mapbox": "^3.0.0",

but when I add this require line to my code I get the error below.

var mapbox = require("nativescript-mapbox");

file:///app/tns_modules/nativescript-mapbox/mapbox.common.js:128:48: JS ERROR TypeError: undefined is not a constructor (evalua
ting 'new view_1.Property({ name: "zoomL

[2017-07-04 00:57] ghost commented on #138
I had mapbox ver 3 but only 2.5.1 for tns core modules install.  i downgraded mapbox plugin to 2.5.1 and it's working for me now.

[2017-07-04 00:57] #138 closed, assigned to nobody

[2017-07-04 05:13] #123 closed, assigned to nobody

[2017-07-05 00:54] dustycrusty commented on #134
Yes please, cannot really seem to make use of the markers without it.

[2017-07-05 02:34] c1ngular opened #139 "[question] is it possible to set the language of map ?"
wonderful plugin ~  the default language is English , possible to specify language ?

[2017-07-05 21:14] chriszrc commented on #41
Just a quick clarification question, I'm trying to evaluate options for mapping with typescript, when you implement "addPolyline for iOS", do you mean a binding with the mapbox sdk that already supports that functionality (https://www.mapbox.com/ios-sdk/api/3.6.0/Classes/MGLPolyline.html)? Does this plugin not give us access to all the api methods of the raw platform map object?

[2017-07-05 21:30] bradmartin commented on #41
@chriszrc - you have access to the SDK so you can do it yourself for sure. This request is to expose it simply to match up with what's already working on the Android side 👍

[2017-07-05 21:43] d3mac123 commented on #41
Brad is right. All I need/ask is the match with the current android features (addPolyline and removePolyline).

[2017-07-06 12:12] d3mac123 commented on #134
@dustycrusty the way I am handling it is looping all markers lat/lon, and getting the most remote position. Something like this:

[code]
I know it is a bit ugly but, considering I am not a pro developer, it works.

[2017-07-10 18:50] GrEg00z opened #140 "iOS : map not touchable when using AbsoluteLayout"
Here is version I use :
- nativescript : 3.0.2
- tns-core-modules : 3.0.1
- tns-ios : 3.0.1
- nativescript-angular : "~3.0.0"

Here is my template code :

[code]

Then the map becomes not touchable.
It displays well, even the position marker is well animated. But it seems to lock all the gestures on the map.

If I replace `AbsoluteLayout` by `StackLayout`, then the map becomes touchable. (but the

[2017-07-10 19:17] GrEg00z commented on #140
I fix it

Problem was here :

[code]

Don't know why but on iOS, using `width="100%" height="100%"` on a StackLayout (located in the same AbsoluteLayout than MapBox), it blocks all the gestures on the map, while on Android, it's not the case

[2017-07-10 19:17] #140 closed, assigned to nobody

[2017-07-12 10:47] idomaz00 opened #141 "Error when trying to use function downloadOfflineRegion"
Hi,

I get an error when I try to use downloadOfflineRegion or listOfflineRegions function in my app, other functions like setCenter, addMarkers, getViewport work normaly. Code I used is copy-pasted from your examples, just modified a bit for use with typescript and angular2.
It is angular2+typescript app, nativescript version 3.0.2 and nativescript-mapbox plugin version ^3.0.0, testing on device

[2017-07-12 10:53] EddyVerbruggen commented on #141
You can't use that method currently that way, see the comment after [this](https://github.com/EddyVerbruggen/nativescript-mapbox#-or-want-to-set-the-viewport-bounds): "The methods you can invoke like this from an XML-declared map are..".

[2017-07-12 11:48] idomaz00 commented on #141
Ufff I'm sorry, I scrolled through documentation so many times but I guess I didn't read carefully enough. Thank you!

[2017-07-12 11:48] #141 closed, assigned to nobody

[2017-07-12 12:35] b4rtt commented on #135
@EddyVerbruggen pls, I am in really problems with this :(

[2017-07-12 14:08] EddyVerbruggen commented on #135
@b4rtt I just cloned that repo but it is very unresponsive since you're creating a location watcher every second. But no worries about that, I'll take a look.

[2017-07-12 14:26] EddyVerbruggen commented on #135
I've found something. I need to change the plugin a bit and you'll need to change your code as well. I can fork your repo and send a PR if you like? **Or rather temporary write access, to save me some time**.

[2017-07-12 14:31] EddyVerbruggen opened #142 "Add an Angular example to the readme"
Show how users can define a map in the view

[2017-07-12 14:32] #142 closed, assigned to nobody

[2017-07-12 14:45] EddyVerbruggen commented on #107
I was just looking at an app that had the following alomost-fullscreen layout working nicely on iOS:

[code]

[2017-07-12 14:49] EddyVerbruggen commented on #139
Hmm, no idea. Doesn't the map follow the device language? If not, can you perhaps check the [SDK repo](https://github.com/mapbox/mapbox-gl-native) for pointers? That's what this plugin builds upon.

[2017-07-12 15:11] b4rtt commented on #135
@EddyVerbruggen Yes, thank you very much! :)

[2017-07-12 18:09] EddyVerbruggen commented on #132
Can you share a project that shows an issue with this code? Running the [demo](demo) I can only see it behave as intended.

[2017-07-12 18:17] EddyVerbruggen commented on #135
Anyone encountering issues with incorrect icons or tap issues on iOS, please use 3.0.1.

[2017-07-12 18:17] #135 closed, assigned to nobody

[2017-07-12 18:18] EddyVerbruggen commented on #135
@b4rtt Just pushed an update to your repo. You may have to restore some watch logic, but the update shows how to properly wire the map in an Angular app.

If there's any further issue please create an issue in **your** repo and ping me.

[2017-07-12 23:40] c1ngular commented on #139
Thanks, you are right , it is following the device language setting!  By the way, do you know where I can submit some corrections/translations  to the map ?

[2017-07-13 06:29] EddyVerbruggen commented on #139
Nice. You'll have to take that up with the [Mapbox](https://www.mapbox.com/) guys.

[2017-07-13 06:29] #139 closed, assigned to nobody

[2017-07-15 11:27] b4rtt opened #143 "Possibility to disable marker tooltip"
Hi, is it possible? If yes, how?

Thank you

[2017-07-16 17:03] EddyVerbruggen commented on #143
Have you tried not setting the `title` attribute?

[2017-07-16 17:05] EddyVerbruggen commented on #136
I don't think there currently is a way, but you could use a `setInterval` and poll the bounds.

[2017-07-16 18:03] b4rtt commented on #143
@EddyVerbruggen When I delete tittle and subtitle then marker icon doesn't working :D

[2017-07-16 18:13] EddyVerbruggen commented on #143
Ah ok. Perhaps you can do some research on the Mapbox website and github repo and report your findings?

[2017-07-16 19:11] b4rtt commented on #143
@EddyVerbruggen

I found this: https://github.com/mapbox/mapbox-gl-native/issues/3559

In Mapbox it should be solved. When is title empty then tooltip should be hidden on click.

[2017-07-17 14:37] #119 closed, assigned to nobody

[2017-07-17 14:38] d3mac123 opened #144 "User Tracking Mode"
Is it possible to "follow" the user location, auto rotating the map? For example, if I am walking towards the south, I would like the map "following me", auto-rotating from N to S.

Something like this setting (from the React Mapbox plugin):
[code]
I have tried checking the plugin code to see how difficult is to implement this. It does not seem a big deal but, unfortunately, as I never coded nativ

[2017-07-17 14:45] EddyVerbruggen commented on #143
Ah, that's perfect, so they fixed that a while ago. I will look into it.

[2017-07-17 15:48] d3mac123 opened #145 "How to update Mapbox SDK for the plugin use?"
I keep getting this message from Terminal:
`Mapbox iOS SDK version 3.6.0 is now available: https://github.com/mapbox/mapbox-gl-native/releases/tag/ios-v3.6.0`

What is the right way to update the SDK?

[2017-07-17 17:19] EddyVerbruggen commented on #145
Just ignore it. The plugin updates the underlying SDK's and test xplatform compatibility for you.

[2017-07-17 17:19] #145 closed, assigned to nobody

[2017-07-18 15:25] b4rtt commented on #144
I tried to find way how to do it too. But without success...

[2017-07-18 21:40] d3mac123 commented on #144
Eddy (and other wizards of native code),

If it helps, this is the documentation from Mapbox site:
https://www.mapbox.com/ios-sdk/api/3.3.4/Enums/MGLUserTrackingMode.html#/c:@E@MGLUserTrackingMode@MGLUserTrackingModeFollow

[2017-07-20 08:13] EddyVerbruggen commented on #143
Hey @b4rtt I just tried with the current version and it works if you do it [like this](https://github.com/EddyVerbruggen/nativescript-mapbox/blob/6bebf9872c2ef85333beb2b98cbf38629f3d051a/demo/app/main-view-model.ts#L147-L151).

[2017-07-20 08:13] #143 closed, assigned to EddyVerbruggen

[2017-07-20 13:05] rahultyagiji opened #146 "Error building android"
Hi Eddy,

Thank you for your great work.

I have been running into the following problem whenever I try to use the Mapbox demo or the olugin itself
"
/media/rahul/6cb85927-ed9e-469f-9f2d-a09892df304b/sandbox/nativescript/parkking/platforms/android/build/intermediates/res/merged/F0F1/debug/values-v24/values-v24.xml:4: error: Error retrieving parent for item: No resource found that matches the given

[2017-07-21 12:01] b4rtt commented on #143
@EddyVerbruggen How should I update it? I have 3.0.1 version and when I delete Title and subtitle (same as in you code), icon is default and tap doesn't working https://github.com/b4rtt/PiratiGo

[2017-07-21 15:06] d3mac123 opened #147 "Remove a point from the Polyline"
Is it (or maybe in the future, can it be) possible to remove points from a polyline (instead of removing the entire polyline)?

[2017-07-21 15:37] EddyVerbruggen commented on #147
It's not possible atm. It may become possible in the future..

[2017-07-23 13:56] rahultyagiji commented on #146
I was having lots of issues with my android version and build tools etc.. I uninstalled everything related to android studio/sdk tools etc.. and installed again... it is all working as expected now. Regards.

[2017-07-23 13:56] #146 closed, assigned to nobody

[2017-07-25 06:31] Shifs opened #148 "Turn By Turn Navigation"
I need turn by turn navigation from point A to point B . Please let me know when this would be integrated in this plugin . Also , I have to create a plugin for this , can you please let me know how much time it takes as I am newbie to nativescript.

[2017-07-25 07:31] EddyVerbruggen commented on #143
@b4rtt iOS or Android?
I cloned your repo but I only see a Google login button, no map (iOS).

[2017-07-25 07:47] b4rtt commented on #143
@EddyVerbruggen I developing it only for iOS now.

Yes, sorry I made progress in my app. If you don't mind it you can login. (it's only login - after login you can see map)

BTW It's for other topic, but when I try to build it for Android building crashes. (because Firebase - don't know why)

I know that you are GOD creator of Firebase too. You can look for it too? Maybe will be better to create i

[2017-07-25 08:45] EddyVerbruggen commented on #143
The problem is I can't login (see screenshot). And the console is flooded with errors. Can you please run the Mapbox demo and see if that code I linked to previously works?

![simulator screen shot 25 jul 2017 10 43 19](https://user-images.githubusercontent.com/1426370/28563397-2217d3f4-7126-11e7-8457-f3672d9ec45a.png)

[2017-07-26 14:14] idomaz00 commented on #65
hi @iljagrabar14 I have the same issue, but I need to declare my map programatically because of some other functionalities. Did you manage to solve this issue?

[2017-07-26 18:43] d3mac123 commented on #144
I finally got how to set the userTrackingMode to work on iOS (this is an ugly implementation, forced manually into @EddyVerbruggen code at mapbox.ios.js).

I have chosen to add this line in the setCenter function (at it constantly runs when location changes):
[code]

The line I have added is this one:
`theMap.userTrackingMode = MGLUserTrackingMode.MGLUserTrackingModeFollowWithCourse;`

Hopefully,

[2017-07-26 21:14] d3mac123 commented on #144
Here's the solution for Android (like above, add this code in the setCenter function (at it constantly runs when location changes):
[code]

The lines I have added are:
[code]

[2017-07-28 19:51] d3mac123 opened #149 "Multiple colors in the same Polyline"
Is it possible to set multiple colors in a Polyline (for example, depending on the speed, the color changes)?

[2017-07-29 20:44] b4rtt commented on #129
@d3mac123 hey how you solved it? I have same problem.

[2017-07-29 20:47] b4rtt commented on #132
@EddyVerbruggen same problem here

[2017-07-29 20:55] d3mac123 commented on #129
I honestly don't remember. I think I had to update everything and rebuild the project.

[2017-07-30 09:12] jet-lee-m opened #150 "Using/Showing an offline map"
Hi,

I can download and list an offline map, but I don't find any description or code example that describe how to use an offline map.

Can someone help and show me an code example?

Thx

[2017-07-30 10:16] jet-lee-m commented on #150
Okay... I found the solution.

I must show the mapbox programmatically with this.mapbox.show(...). I use nativescript angular2/4.

But now I have the problem that I want the mapbox is dependant from the size of the parent layout (eg. stacklayout). I saw that I can use margins, but in this case the view is absolute.

is there any solution to put the mapbox in a parent layout and
and at the same tim

[2017-07-31 12:46] j99ht opened #151 "icon anchor"
Is there is any way to define the icon anchor as stated in Mapbox SDK?

[2017-07-31 16:48] EddyVerbruggen commented on #151
Interesting. Can you please add links to the sdks?

[2017-07-31 18:36] d3mac123 commented on #41
@imekinox @EddyVerbruggen can you share the code you have written originally? Although I am far from a pro developer, I have some available time that I could use trying to figure out what is happening with the iOS part.

I am really in need of this feature for my app.

[2017-07-31 20:26] EddyVerbruggen commented on #150
Do you need to show the map to be able to download a map? What code have you tried, and on which platform?

[2017-07-31 21:47] j99ht commented on #151
Android
https://www.mapbox.com/help/android-markers/

IOS
https://www.mapbox.com/ios-sdk/examples/marker-image/ (here it is called
center offset)

2017-07-31 18:48 GMT+02:00 Eddy Verbruggen <notifications@github.com>:

[2017-08-02 09:04] jet-lee-m commented on #150
Hi,

yes I need to show the map to be able to download the map.
I use:
nativescript:  3.0.0
platform: ios (tns-ios 3.1.0)
with angular 2/4

thx

[2017-08-03 10:38] ExaltedJim commented on #125
Just experienced the same problem with my onTap event not working as it should after navigating away from the page with the map and then back again.

After trying many different ways to get it to work (including destroying the map on ngOnDestroy) what ended up working for me was to remove all markers in ngOnDestroy (but not destroy the map).

Give this a try and see if it works for you:

[code]

N

[2017-08-03 18:48] d3mac123 opened #152 "A desperate request for addPolylines in iOS"
First of all, I would like to thank @EddyVerbruggen for all the amazing plugins he builds. I've been using several of them and they are well documented, ready to use and constantly updated.

I am a designer, self-thought on how to code in Nativescript and who, thru try-and-error, learned also a few things to edit some of NS plugins (including Mapbox to auto-rotate maps).

Saying that, I am getting

[2017-08-03 19:40] EddyVerbruggen commented on #152
The problem is:

As you can see [here](https://www.mapbox.com/ios-sdk/api/3.6.1/Classes/MGLPolyline.html#/c:objc(cs)MGLPolyline(cm)polylineWithCoordinates:count:) the iOS SDK expects an Array of coordinate objects, and those are exposed [like this](https://github.com/EddyVerbruggen/nativescript-mapbox/blob/6bebf9872c2ef85333beb2b98cbf38629f3d051a/src/platforms/ios/Mapbox.d.ts#L1623) through Native

[2017-08-03 20:26] EddyVerbruggen commented on #152
I've added the code (to GitHub) that comes close to what should be done, but it doesn't do much because of my previous remarks.

[2017-08-03 22:00] d3mac123 commented on #152
Thanks for sharing Eddy! Have you talked about this with someone at Progress/Telerik? Is this something that needs to be address by the NS team or Mapbox?

[2017-08-04 12:07] EddyVerbruggen commented on #152
Not yet, but I think asking in the #ios channel on Slack would be a good start. I'm not able to do that atm though.

[2017-08-04 12:10] d3mac123 commented on #152
You mean Slack channel of NS or Mapbox iOS?

[2017-08-04 12:44] EddyVerbruggen commented on #152
NativeScript Slack

[2017-08-04 12:45] EddyVerbruggen commented on #152
Or https://discourse.nativescript.org/latest?order=activity

<img width="763" alt="screen shot 2017-08-04 at 14 45 09" src="https://user-images.githubusercontent.com/1426370/28969145-a1e7ed1c-7923-11e7-8c31-f7dc0a680bdd.png">

[2017-08-04 17:40] d3mac123 commented on #152
@EddyVerbruggen I did some adjustments to your code and I finally got some polylines in the map (yeah!!!):
![screen shot 2017-08-04 at 1 37 01 pm](https://user-images.githubusercontent.com/229148/28980023-4071f93c-791a-11e7-9438-deb0812ce38a.png)

However, as you can see above, the route path is not the same as it should be (see the Android results). Any ideas why? I think it is related to this li

[2017-08-04 19:05] EddyVerbruggen commented on #152
That's a start! 😍

Can you share the app code to generate that "circle" on Android please?

[2017-08-04 19:10] d3mac123 commented on #152
The "circle" is a real path saved on a Firebase database (thanks to your great Firebase plugin). App is huge, with several pages, Facebook login, etc. What is the best way to share it with you (I have no idea on how to use Github "repos/whatever you call them" :))? Will a zip file be enough for you? Do you have an email/dropbox I can share?

Also, in order to get the same results of the "circle" y

[2017-08-04 19:24] EddyVerbruggen commented on #152
Ah, ok, I was just wondering what you're doing to get that circle.. do simply call `addPolyline` several times, or only once with several points? Perhaps you can console.log how you're calling the method and share that?

[2017-08-04 19:32] d3mac123 commented on #152
I got it. In fact, I just call it once, after finishing a flight (having saved it on FB database):
[code]
flightData is an array built by data from FB Realtime DB (full code below):
[code]

[2017-08-04 19:43] EddyVerbruggen commented on #152
So if you're also using that on iOS then I don't get why this:

[code]

.. produces multiple lines (as per your screenshot).

Because in the `for` loop that `coord` variable seems to be reassigned every time and only the last state is passed to `polylineWithCoordinatesCount`... so I expect that `coord` variable to be an Array. So weird..

[2017-08-04 19:49] d3mac123 commented on #152
Using your code below "as is" did not produced any lines, as you probably know:
[code]
this was the reason I tried to move the last two lines out of the "for" loop.

I also tried to simply leave the last 2 lines into the loop (commenting the coordRef one) without any success. Reason why I think there is "something" related with the line:

`const coordRef = new interop.Reference<CLLocationCoordinat

[2017-08-05 10:01] EddyVerbruggen commented on #152
@d3mac123 I've spent the morning taking the geojson route and seem to have something working. Don't worry, the API won't change as I'm leveraging geojson internally, that stuff will be hidden for the user.

[2017-08-05 11:43] EddyVerbruggen commented on #143
I don't think this was published to npm - it's part of 3.0.2.

[2017-08-05 11:46] EddyVerbruggen commented on #41
iOS support landed in 3.0.2. I've also added a new `opacity` property to this function so you can further tweak the appearance. Details are in the readme.

[2017-08-05 11:46] #41 closed, assigned to nobody

[2017-08-05 11:47] EddyVerbruggen commented on #152
This took me way longer than I hoped, but it's working now! Please update to 3.0.2.

[2017-08-05 11:47] #152 closed, assigned to nobody

[2017-08-05 17:17] d3mac123 commented on #152
i think i am going to cry! :) thank you very much!

[2017-08-06 01:30] ExaltedJim commented on #143
@EddyVerbruggen Is it possible to have markers on the map without a tooltip but still have the onTap for a marker fire? I have tried not setting the title and no tooltip is displayed, but my onTap function doesn't fire. If I add the title attribute back, the onTap does fire, but I get the tooltip that I don't want to display.

Any advice would be appreciated.

Cheers

[2017-08-06 01:36] ExaltedJim commented on #122
Same issue for me.

[2017-08-08 20:04] EddyVerbruggen commented on #143
Good call, @ExaltedJim - with 3.0.3 you can do just that.

[2017-08-09 17:20] ExaltedJim commented on #125
@EddyVerbruggen - Not sure what is happening underneath but It appears that the onTap event being called upon returning to the page with mapbox in it are for the "old" markers (even if I destroy the map upon leaving the page). Further evidence of this is that the app will crash when I add the following code to the the onTap function to force change detection:

[code]

The error reported is:

[code

[2017-08-10 20:08] slushnys opened #153 "setOnMapClickListener iOS"
Any plans to implement tap, longpress events to ios?

[2017-08-14 22:03] d3mac123 opened #154 "Polylines on iOS"
This is a strange situation on iOS. Running this code, does NOT show any lines (I have tried both options below):
[code]

However, in another page, loading all data points into a table/array, shows the line:
[code]

Any ideas why?

[2017-08-15 08:50] EddyVerbruggen commented on #154
Nope..

[2017-08-15 12:24] d3mac123 commented on #154
@EddyVerbruggen there is something wrong with the plugin in iOS. I created a new, empty, project (just iOS), add the plugin and used your own example from the documentation page: added the map and the following "onMapReady":
[code]
...Nothing is rendered. Have you tried to do that?

[2017-08-15 12:51] EddyVerbruggen commented on #154
Please share your project so I can try. Thx.

[2017-08-15 13:06] d3mac123 commented on #154
Here it goes: https://1drv.ms/u/s!AoyLe81WMbMDia0oDCbHYuYitjFqrg (it seems the onMapReady function is not being called)

[2017-08-15 13:09] EddyVerbruggen commented on #154
Thanks - look closely at the file(name) the `onMapReady` function is defined in. That should give you a clue: https://github.com/EddyVerbruggen/nativescript-mapbox/blob/0c596381ae2efad901bb2ece0ae11e9fec66dcd3/demo/app/main-page.ts#L13

[2017-08-15 13:31] d3mac123 commented on #154
Got it! It worked on the sample project. Thank you!

However... in the "real project", it is still not working. Would you be kind enough to do a quick check at page dash_live-page.js? https://1drv.ms/u/s!AoyLe81WMbMDia0p27xLysWr9WE59g

Really weird...

[2017-08-15 13:37] EddyVerbruggen commented on #154
I can't run your app as the parent folder is missing. But I'm also not really available for this kind of debugging..

[2017-08-15 13:46] d3mac123 commented on #154
No worries then. I will keep looking. I was just wondering if you could find something in the onMapReady function in the dash_live-page, especially because the code is working fine on Android.

[2017-08-15 15:09] d3mac123 commented on #154
I found the problem (although I do not understand why this is working on Android but not on iOS). Anyways, originally I had this code coming BEFORE the map.addPolylines...:
[code]

having moved it to AFTER the map.addPolylines, it worked. Ideas?

[2017-08-15 18:45] devyaz opened #155 "map overlay"
how do we change userLocation icon? and how do we display a view e.g a button over the map?

[2017-08-15 18:49] EddyVerbruggen commented on #155
What have you tried so far?

[2017-08-16 09:43] devyaz commented on #155
i tried
 `<StackLayout>

    <ContentView >

      <map:MapboxView
        delay="2"
        zoomLevel="12"
        mapStyle="streets"
        showUserLocation="true"
        mapReady="onMapReady"
        hideLogo="false"
        hideAttribution="true"
          accessToken="blah blah blah!">
    <button text="my locaton" tap="getHome" style="z-index:9000;width:30%"></button>  </map:MapboxView>

[2017-08-17 04:12] bradmartin opened #156 "Feature Request: Update to sdk to 5.1.2+"
Update native sdks to newer version, mainly for 3d extrusions.

https://blog.mapbox.com/3d-map-visualizations-on-android-and-ios-81461cd384f8
https://www.mapbox.com/android-docs/api/map-sdk/5.1.2/index.html

Android examples:
https://github.com/mapbox/mapbox-android-demo/tree/5937a1c4cb677f2056deb9170792e169a85b4fa0/MapboxAndroidDemo/src/main/java/com/mapbox/mapboxandroiddemo/examples/extrusions

[2017-08-17 14:50] d3mac123 opened #157 "Mapbox screenshot on Android"
While taking a screenshot with a Mapbox component within,...
[code]
...I am just getting a black rectangle with the Mapbox logo:
![screen shot 2017-08-16 at 2 38 25 pm](https://user-images.githubusercontent.com/229148/29416753-2108d44c-8335-11e7-950b-4a977bc95a77.png)

Checking the Android Mapbox forums, I was forward to this solution https://github.com/mapbox/mapbox-gl-native/blob/master/platform

[2017-08-17 18:33] EddyVerbruggen commented on #156
Hey Brad,

I've just pushed an SDK update to GitHub:
- Android 5.1.2
- iOS 3.6

Both of those support what you request but there's nothing exposed by the plugin API yet. I'll keep this issue open for that reason.

Btw Mapbox also included two new styles that are really cool, so I've exposed those already: `TRAFFIC_DAY` and `TRAFFIC_NIGHT`, see this Tweet for how those look: https://twitter.com/edd

[2017-08-17 18:35] EddyVerbruggen opened #158 "Document the new TRAFFIC_DAY and TRAFFIC_NIGHT styles"
The latest native SDKs I've just upgraded this plugin to added two cool new styles. Let's add 'em to the docs.

[2017-08-17 18:39] #158 closed, assigned to nobody

[2017-08-17 18:58] bradmartin commented on #156
Awesome stuff 👍 - if I get time and have to do the 3d textures for a client I'll get a PR in here but client is still in the air right now 😄 so we shall see.

[2017-08-17 20:09] EddyVerbruggen opened #159 "Return the native Mapbox view when show is invoked"
.. so folks can tap into the native Mapbox SDK more easily (adding layers, etc as they see fit).

[2017-08-17 20:45] EddyVerbruggen commented on #159
Also added examples to the readme and demo.

[2017-08-17 20:45] #159 closed, assigned to EddyVerbruggen

[2017-08-17 20:49] EddyVerbruggen commented on #156
Cool, well, please open a new issue if you need to - I've just published 3.1.0 which also allows you to access the native MapView classes from `mapReady` and `show` which may come in handy if you want to play with those layers in your app's code instead of the plugin code. See the readme and demo for how to grab those native objects. Their types are listed in the typings of `ShowResult`:

https://

[2017-08-17 20:49] #156 closed, assigned to EddyVerbruggen

[2017-08-18 13:42] d3mac123 commented on #155
This would work:
[code]

Set the position of the compass (over the map) from the css file:
[code]

[2017-08-18 15:04] devyaz commented on #155
@d3mac123 wot about the navigation problem? where navigating to another page then coming back to map page the map isn't rendered its just a blank page
![screenshot_2017-08-18-16-51-42](https://user-images.githubusercontent.com/20435017/29464471-45caf1b4-8436-11e7-836b-59fb5c16215c.png)
![screenshot_2017-08-18-16-58-09](https://user-images.githubusercontent.com/20435017/29464585-997c26ca-8436-11e7-

[2017-08-18 15:06] devyaz commented on #155
here is map after navigating back! any clues/

![screenshot_2017-08-18-17-00-03](https://user-images.githubusercontent.com/20435017/29464833-7a22e33a-8437-11e7-9ef7-5ae05a1c2b32.png)

[2017-08-18 17:43] d3mac123 commented on #155
It seems @EddyVerbruggen just released version 3.1 and mentioned something about it. However, in my app, I go to other pages and come back without any issues.

This is the code I use to go to the other page:
[code]

[2017-08-21 08:22] devyaz commented on #155
@d3mac123  i've updated the @EddyVerbruggen  mapbox, however i now don't get userlocation to display! i didn't change code, and no matter how i try my map still shows blank after navigating away from it!,how do you declare your map, in JS or XML? i declare in XML!! the code above is the same as i use i just put in "raw json" to mimic sqlite here for markers
`exports.markerz=function(args) {
  var

[2017-08-23 09:19] Arnoho opened #162 "Problems with Android that works with iOS"
I have three problems that are working with iOS but not with Android.  I am using newest version of nativescript-mapbox (3.1.0) with Angular. Map is declared in main.ts and used in html:

`registerElement("Map", () => require("nativescript-mapbox").MapboxView);  `

[code]

1.  After opening map first time with Android device it ask permission to use location (great!). After user press “accept” I n

[2017-08-24 09:45] EddyVerbruggen commented on #162
Hi,

1) You can now (version 3.1.1) add `locationPermissionGranted` to your XML-declared map. It works the same as the `mapReady` event.

2) Works again - they changed the native SDK once again, so I had to update some code as well.

3) No clue.

PS. Please create (3) separate issues next time.

[2017-08-24 09:45] #162 closed, assigned to EddyVerbruggen

[2017-08-24 10:34] Arnoho commented on #162
Thank you! That was really quick!
Edit: Actually problem 2 is fixed now but problem 1 is still exists. I mean yes `locationPermissionGranted` get called but it is called just after `mapReady` and it does not wait until user have made decision to accept location.

[2017-09-05 21:51] d3mac123 commented on #153
I would love to have this as well (the same feature as Android).

[2017-09-07 09:51] giperwlad commented on #87
Hi @EddyVerbruggen,
Problem persists with a real device. http://crashes.to/s/7035cd80c4c
Mapbox versions:
mapbox-android-sdk:5.1.2
android-plugin-locationlayer:0.2.0-SNAPSHOT'

[2017-09-12 10:49] marcel-braun commented on #153
i need this too! Is there a workaround?

[2017-09-12 11:44] EddyVerbruggen commented on #153
@marcelbraun1985 When I implemented it for Android the problem was there was no equivalent API in the Mapbox iOS SDK that supports that feature. Can you perhaps do some digging [in their repo](https://github.com/mapbox/mapbox-gl-native) if it's possible by now?

[2017-09-12 13:32] simonettoa commented on #5
hi @ofirdagan, did you resolve it? I'm in the same situation, my map page is one of many; I want to disable/turn off the location when the page is not in use, any tips?

The connected issue is not helping (#27)!

[2017-09-12 14:31] marcel-braun commented on #153
Yes i will do that and let you know my research.

[2017-09-12 14:59] ofirdagan commented on #5
Hey @simonettoa - I did not. It was for a POC project.

[2017-09-12 15:59] EddyVerbruggen commented on #153
@marcelbraun1985 I was also curious - looks like [this is now possible](https://www.mapbox.com/ios-sdk/api/3.4.1/Classes/MGLMapView.html).

The main question is: how should our implementation behave by default? If a user taps a portion of the map where there's also an annotation, should it then:

1. only trigger the annotation, or
2. only trigger our listener, or
3. trigger the annotation and our

[2017-09-12 16:01] EddyVerbruggen opened #163 "Align with the NativeScript plugin seed"
A few tiny bits need to be changed to comply with the seed's structure.

[2017-09-12 16:02] #163 closed, assigned to nobody

[2017-09-12 16:12] EddyVerbruggen commented on #153
OK, Android behaves like option 1 described above so when an annotation is tapped the tap listener of `setOnMapClickListener` is not fired. I'll try and make it similar on iOS.

[2017-09-12 16:13] EddyVerbruggen commented on #51
iOS support via #153

[2017-09-12 16:13] #51 closed, assigned to nobody

[2017-09-12 18:51] EddyVerbruggen commented on #153
Pulled it off! Will release a new version shortly.

[2017-09-12 18:51] #153 closed, assigned to nobody

[2017-09-13 00:34] bradmartin opened #164 "Feature Request: Polygon and PolyLine Tap Events"
Add support for polygon/polyline tap events. I might be working on this soon and if I do, expect a PR for it 👍

[2017-09-13 03:26] bradmartin commented on #164
Will have a PR for Android for these. I'll try to get to iOS but @EddyVerbruggen if you wanna crack those, then you'd be one cool 🐱

[2017-09-13 03:29] bradmartin opened #165 "Question/Suggestion: Add prettier to code base"
Any opposition to add Prettier to the codebase to avoid commits with silly diff changes and to keep a consistent formatting? No worries if you don't want to. I've just gone all in on it myself 👍

My preferred approach if you haven't done it before - https://bradmartin.net/2017/06/14/add-prettier-to-typescript-projects-with-precommit-hook/

[2017-09-13 05:12] bradmartin opened #168 "Request: Id for adding Polygons"
Add `id` into the AddPolygon method so the polygon can be retrieved later if need be or manipulated by its id without the `onPolygonClickListener`.

[2017-09-13 06:00] EddyVerbruggen commented on #165
I have no problem with having that in this repo!

[2017-09-13 07:13] simonettoa commented on #5
Ok, thanks for your response.

[2017-09-13 09:32] marcel-braun commented on #153
Amazing! Thanks!

[2017-09-14 04:41] #168 closed, assigned to nobody

[2017-09-15 22:36] d3mac123 opened #170 "Polylines not showing on iOS under setOnMapClickListener"
I have the following code working fine on Android but, on iOS, although the console shows the right calculated distances (meaning the clicks are getting the coordinates from the map), no polylines are drawn. Any ideas?

[code]

[2017-09-15 22:36] d3mac123 commented on #164
Will you provide a documentation for that?

[2017-09-17 02:27] bradmartin commented on #164
I closed the PR I initially did because it was lacking a simple way to reference the specific line and not possible to add functions dynamically to the lines as you pass them into the methods. So I've since changed that locally and have android working. A PR will be coming soon with the changes, I'd also like to get mapbox drawing polygons in the PR. I need to test a bit more but the tap stuff sho

[2017-09-18 13:15] d3mac123 commented on #170
See video below showing the app running on iOS and Android simulators, plus the code used:
http://youtu.be/gKgetQRK-1o

I am pretty sure there is something on the iOS version of the addPolylines code that is blocking the line rendering, but I couldn't figure it out. Also, it may be correlated with case #154

[2017-09-19 21:58] d3mac123 opened #171 "setOnMapClickListener not working on iOS11"
It seems the listener is NOT listening :)

Working fine before the OS update.

[2017-09-19 22:05] #171 closed, assigned to nobody

[2017-09-25 13:31] d3mac123 commented on #170
I found the issue. On iOS you must remove the polyline before updating it. This is not necessary on Android.

[2017-09-25 13:31] #170 closed, assigned to nobody

[2017-09-25 13:32] d3mac123 commented on #154
I found the issue. On iOS you must remove the polyline before updating it. This is not necessary on Android.

[2017-09-25 13:32] #154 closed, assigned to nobody

[2017-09-27 06:31] danielelkington opened #172 "listOfflineRegions fails on Android if no map has been shown"
When you call listOfflineRegions on Android and no map has been shown, the following error is received.
`Using MapView requires setting a valid access token. Use Mapbox.getInstance(Context context, String accessToken) to provide one.`

The readme says you can do the following
[code]
However listOfflineRegions doesn't appear to take a parameter, and Typescript cannot compile the code if you try to

[2017-09-28 02:23] bradmartin commented on #164
Once I get iOS support added the PR will be ready, @d3mac123 if you want to see the android source this fork has it in there and the start of iOS but not done with those methods yet. https://github.com/bradmartin/nativescript-mapbox

[2017-10-05 11:28] davidpronk opened #173 "Is there a way to load mapstyles form a local json file?"
I am trying to load the mapstyles from a json file within the app. Is this even possible and how should I reference the file?

[2017-10-05 11:37] EddyVerbruggen commented on #173
Never tried it, don’t know.

[2017-10-05 11:59] davidpronk commented on #173
I have, but can't get it to work. Running into the same error as described at: https://stackoverflow.com/questions/46564983/
Doesn't seem to be an issue with this plugin.

[2017-10-07 18:11] slushnys commented on #153
I was absent after this feature request/enhancement and now I'm pleasantly surprised by this update. Thanks @EddyVerbruggen !

[2017-10-10 14:58] randy-johnson opened #174 "Possible to add image to info window"
Is it possible to add an image to the infowindow?

[2017-10-10 15:05] EddyVerbruggen commented on #174
Not that I know off, but if you can find anything that works on both platforms in [the Mapbox repo](https://github.com/mapbox/mapbox-gl-native) then I'm all ears! I think I saw a mention of custom info windows somewhere, but not entirely sure.. anyway: that's not exposed by this plugin.

[2017-10-10 15:41] randy-johnson commented on #174
Thanks.  I found an example for android but not  IOS.  If I find something I will let you know.

[2017-10-10 15:41] #174 closed, assigned to nobody

[2017-10-12 01:14] randy-johnson opened #175 "Dragging Map"
Is there an event that gets fired when I drag the map?

[2017-10-12 01:51] randy-johnson commented on #175
https://www.mapbox.com/android-docs/map-sdk/overview/events/#camera-change-events

Looks like it is not part of the plugin yet?

After reviewing I imagine I could use the setOnMapClickListener code in the plugin as a guide to implementing the camera change features.

Thoughts?

[2017-10-12 07:41] EddyVerbruggen commented on #175
Hi @randy-johnson! You're right, it's not part of the plugin yet.

And I think that would be a good approach indeed. Please give it a go if you have time.

[2017-10-13 01:34] randy-johnson opened #176 "Error when running demo"
Hello,
When I go into the demo folder I get the following error when I run:

https://www.dropbox.com/s/16rpaslqk9ln8p2/2017-10-12_21-30-31.png?dl=0

Failed to find module nativescript-mapbox relative to app/tns_modules.

^CRandys-iMac:demo randy$ tns info
All NativeScript components versions information
┌──────────────────┬─────────────────┬────────────────┬─────────────┐
│ Component        │ Curr

[2017-10-13 01:42] randy-johnson commented on #176
I figured it out after reading this:  https://docs.nativescript.org/plugins/building-plugins

i need to be in the src folder and run npm run demo.android

[2017-10-13 01:42] #176 closed, assigned to nobody

[2017-10-13 16:09] shivapersad opened #177 "Console output query"
Good day,

I implemented a map in XML using nativescript-mapbox. I also decided to add markers to the map, however, when I add the markers I am receiving the output below in the console. The map displays properly but I was wondering how come the following is produced as output in the console. Thanks for any assistance you can give me.

[INFO] {}[Database]: recovered 77 frames from WAL file /Users/

[2017-10-13 16:47] EddyVerbruggen commented on #177
Have you tried searching this repo? [Click here](https://github.com/EddyVerbruggen/nativescript-mapbox/search?utf8=%E2%9C%93&q=resourcename%3A&type=) and you'll see it's simply a `console.log` in the plugin source.

I'll leave this issue open as a reminder to remove those, but feel free to send a PR if those bother you.

[2017-10-13 16:59] shivapersad commented on #177
I was just wondering if they would cause an issue with a deployed app for iOS? I didn't see it in the code for the iconPath. Also the console.log output appear in the Android version of the app. Thanks for the quick response.

[2017-10-17 03:06] randy-johnson opened #178 "adding markers from an array"
Hello,

I am trying to create an array to use with addMarkers.

Here is my code from my model:

[code]

That creates the array just fine but it doesn't like my onTap and onCalloutTap when I am on the map and click on a marker

offer.onTap  is the name of the function.

When I tap a marker I get this error:

cachedMarker.onTap is not a function.

Do I need to be doing something different with the f

[2017-10-18 02:09] randy-johnson opened #179 "map variables not updating automatically"
[code]

This code doesn't update the map automatically like I expected.  Am I doing something wrong or is it not possible with mapbox?

IT works on initial map load, but doesn't seem to work with subsequent updates to the map model.

[2017-10-18 08:49] EddyVerbruggen commented on #179
Correct, there's no watch for those properties.

[2017-10-21 10:35] devyaz opened #180 "How to get lat long of userlocation from mapbox"
i just updated my {N} and now my project wont get my current location using {N} geolocation, which worked before updating, but Mapbox shows and tracks userlocation without location, but to set center or to animate camera is now a problem, am very positive it's got to do with {N} geolocation, Now how do i use Mapbox's own userlocation as latt and long?? @EddyVerbruggen

[2017-10-31 14:09] davidpronk opened #181 "Memory is not freed when destroying the map on Android"
I noticed our app is using more memory each time I navigate to and from the map. Destroying the map on `ngOnDestroy` using `this.mapbox.destroy()` and even calling `utils.GC()` does not make any difference.
Profiling the NativeScript plugins app while opening and closing the Mapbox map [results in this climbing graph of memory usage](https://imgur.com/71MXfJs).
Is there a way to force Mapbox to re

[2017-10-31 14:17] EddyVerbruggen commented on #181
Interesting find, thanks for sharing this! I'd love to learn whether this is caused by the plugin or Mapbox Android SDK.

[2017-10-31 15:04] FBorgonjen commented on #181
After some debugging I found out that when using an xml implementation of the map and calling `destroy`, the method in `mapbox.android.ts` never reaches the code inside the if statement (`if (theMap.mapView) {`).
This probably has to do with the code in `mapbox.common.ts` (see line [448](https://github.com/EddyVerbruggen/nativescript-mapbox/blob/46c83e8359b6832002ea3e4f94a5e365f9c4877a/src/mapbox.

[2017-10-31 15:09] EddyVerbruggen commented on #181
@FBorgonjen Nice find, that needs fixing in the plugin source.

What's the (easiest) way to see the memory usage / graph do you guys reckon?

[2017-10-31 15:12] davidpronk commented on #181
@EddyVerbruggen [Android Studio](https://developer.android.com/studio/index.html) is packed with handy tools such as a Layout Inspector and Android Profiler. The profiler shows CPU, memory and network usage per process for all connected Android devices and emulators.
You can profile any app installed on your Android device.

[2017-10-31 15:15] EddyVerbruggen commented on #181
I use Android Studio often but never really looked at those bundled tools. You made me curious. Will take a look as soon as I find a bit of time.

[2017-10-31 15:27] simonettoa commented on #180
same request for me! now I'm using the geolocation in background for another use and then load the last position from db; but it could be nice to have the lat/lon from mapbox if possible!

[2017-10-31 16:38] simonettoa commented on #181
Similar problem in iOS, I did a workaround creating the map programmatically (not working if it is declared in html) then I destroy it when I change the page (ngOnDestroy call) and when changing the page from map call the utils.GC. This last command free some memory (I've noticed it from Xcode debug part); still is increasing every time a little bit.

For example the app is normally at 130MB of us

[2017-11-02 02:28] sK0pe commented on #125
#182 Fixes this issue.
When @EddyVerbruggen publishes to the central npm registry next these caching issues will be resolved.

[2017-11-02 07:56] EddyVerbruggen commented on #125
@sK0pe I'm going to take your word for it and create a release 👍

[2017-11-10 14:39] devyaz commented on #178
@randy-johnson  here how i add marker from my "Home page" to Map page

[code]

hope this helps

[2017-11-10 14:42] devyaz commented on #178
it could be from server or local sqlite database, my App has multiple pages, even the onCalloutTap function is on the Home.js **NOT** on Map page!!

[2017-11-24 22:06] emoreno-94 opened #184 "mapbox.listOfflineRegions is not a function"
Hello, recently I updated to `nativescript` `3.3.1` and `nativescript-mapbox` from `2.6.1` to `3.1.3` but now I can't use `listOfflineRegions`. I tried with:
[code]
but always I get the same error `JS: ERROR TypeError: mapbox.listOfflineRegions is not a function`.

I have `nativescript 3.3.1`, `nativescript-mapbox 3.1.3` and `typescript 2.4.2`

[2017-12-02 11:55] EddyVerbruggen commented on #184
Please try the [demo app](https://github.com/EddyVerbruggen/nativescript-mapbox/tree/master/demo). I just did and it worked on both platforms.

You can do so by cloning this repo, `cd src`, `npm run demo.ios|android`.

The 'List downloaded' button on this screen results in this alert (note that I downloaded 1 offline region already):

![simulator screen shot - iphone 8 - 2017-12-02 at 12 55 29](ht

[2017-12-02 11:55] #184 closed, assigned to nobody

[2017-12-05 03:13] d3mac123 opened #185 "Geocoding (search) services"
Any chance to implement mapbox search (geocode search) anytime soon? Details here https://www.mapbox.com/ios-sdk/ in the Geocoding section.

[2017-12-17 16:42] bozhidarc opened #186 "Calling selectAnnotation() from native map view throws "TypeError: nv.selectAnnotation is not a function""
I'm trying to call the `MGLMapView.selectAnnotation()` from `args.map.getNativeMapView()`, but the only thing I got is an error.
I need this method so I can show the marker (annotation) title by default.
Am I doing something wrong or maybe the method is missing from the current MapBox version that the plugin wraps?

[2017-12-22 00:36] guigulin opened #187 "the names of the streets appear badly located"
I'm starting with Native Scripts. I create a map using basically the nativescript-mapbox-demo code, but simplified, to show only one map, using XML.  It works very well, but the name of the streets appears perpendicular, up-and-down, to the streets, or outside the route of the street, but inclined, not parallel to the route. How can I solve it?

[2017-12-23 13:57] Pant76 opened #188 "polyline above markers on IOS"
Hi,
i add a polyline on a map like this:
`that.map.addPolyline({
                            id: 1, // optional, can be used in 'removePolylines'
                            color: '#ffa800', // Set the color of the line (default black)
                            width: 7, // Set the width of the line (default 5)
                            opacity: 0.8, //Transparency / alpha, ranging 0-1. Defau

[2017-12-26 20:39] guigulin commented on #187
I answer myself: when the app is installed on any device with Android version 5.0.1, the problem indicated above appears. Close issue.

[2017-12-26 20:39] #187 closed, assigned to nobody

[2017-12-26 20:49] guigulin opened #189 "Change default icon for user location"
I can see that in file mapbox.android.js appears
var resourcename = "mapbox_mylocation_icon_default";
where mapbox_mylocation_icon_default are files .PNG that live in several folders on myapp\platforms\android\app\build\intermediates\res\merged\F0xxx\....
I replace that files, respecting their names and size, with the icon that I want to show on the map for user location.
But that don't works, con

[2017-12-30 22:26] ghost opened #190 "Trace routes (directions)"
Is there any way to draw a route from two reported points? If it is not possible yet, do you know any way I can implement this? Thank you.

[2018-01-01 17:11] ghost commented on #190
Hello,
At the end of the day I implemented a service that searches the MapBox Directions API. After obtaining the results, the service filters the JSON and returns me only the location directions, the intersections. That way I can use the `addPolilyne `method to construct the route.

If someone searches for the same information, follow the steps in this link: [Mapbox API - Directions](https://www.

[2018-01-02 02:41] d3mac123 opened #191 "Outdoors map"
Hey Eddy, any chance to include the outdoors map style in the next release?
Thanks!

[2018-01-03 02:54] d3mac123 opened #192 "Set location manually for demo simulation - Question"
Is there a way to set location without using location services? I would like to simulate a trip between several points (having the map moving and the location icon positioned in the “fake” coordinates) to showcase some features of my app.

[2018-01-12 19:39] EddyVerbruggen commented on #191
[isn't it already](https://github.com/EddyVerbruggen/nativescript-mapbox/blob/60845febd4dee237fe5f20ef54c52025a413f387/src/mapbox.common.ts#L6)?

[2018-01-12 20:30] d3mac123 commented on #191
Man, you rock!! Thanks (I was using an older version and, because the documentation doesn't mention it...)!

However, I just tried here and entering (in the xml) mapStyle="outdoors" rendered it as Streets. Any idea why?

[2018-01-12 21:13] EddyVerbruggen commented on #191
Oh. Hmm. Let me check that this weekend. iOS or Android?

[2018-01-13 13:17] EddyVerbruggen opened #193 "Bump Mapbox SDK versions"
* iOS 3.6 --> 3.7.3
* Android 5.1.3 --> 5.3.1

[2018-01-13 13:17] EddyVerbruggen commented on #193
Note that on iOS this will require users to do a `pod repo update` in their Terminal console.

[2018-01-13 13:25] #193 closed, assigned to EddyVerbruggen

[2018-01-13 13:28] EddyVerbruggen commented on #191
I just verified the latest 3.1.3 version shows the correct map style when choosing `mapStyle="outdoors"`.

Note that it looks very much like `streets`, depending on the terrain. For instance, compare these two:
* https://api.mapbox.com/styles/v1/mapbox/outdoors-v10.html?title=true&access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4M29iazA2Z2gycXA4N2pmbDZmangifQ.-g_vE53SD2WrJ6tFX7QHmA#15.86/52.136407/

[2018-01-13 13:28] #191 closed, assigned to nobody

[2018-01-13 14:30] EddyVerbruggen opened #194 "Don't handle permissions other than our own"
If another plugin (or custom code in a user's app) requests an Android permission other than the 'access fine location' permission that this plugin requests, the plugin will "steal" permission result handling. #notgood

[2018-01-13 14:35] #194 closed, assigned to nobody

[2018-01-13 14:55] EddyVerbruggen commented on #188
Looks like this is a problem in the Mapbox iOS SDK: https://github.com/mapbox/mapbox-gl-native/issues/1728

[2018-01-13 15:02] EddyVerbruggen commented on #189
Well actually I just updated to the latest Mapbox Android SDK and the location drawing was entirely changed so I had to remove that code.

Perhaps in the future you'll be able to style the indicator, but not right now.

[2018-01-13 15:02] #189 closed, assigned to nobody

[2018-01-13 15:27] EddyVerbruggen commented on #186
Ah, you mean you want to show the callout immediately when you add the marker? Sounds like a good addition to the plugin API (note that Mapbox only allows 1 open callout at any given time).

Looks like that method signature is actually `selectAnnotationAnimated(annotation: MGLAnnotation, animated: boolean): void`

[2018-01-14 10:49] EddyVerbruggen opened #195 "Don't fire the "mapready" event when the style changes"
I noticed that once the map has been loaded and you change the style (light --> dark, or any other change), the `mapready` event will fire again. That's prolly not what folks expect.

[2018-01-14 10:54] #195 closed, assigned to nobody

[2018-01-14 11:25] EddyVerbruggen commented on #186
With version 3.2.0 you'll be able to add `selected: true` when adding a marker. See the updated README.

[2018-01-14 11:25] #186 closed, assigned to EddyVerbruggen

[2018-01-17 13:12] devyaz commented on #181
anyone found the remedy to this yet? memory up to 280Mb please find a solution, when not on map page memory is 40-65Mb, as soon as map page opens  it rockets to 260Mb, @EddyVerbruggen
![screenshot_2017-10-21-20-55-51](https://user-images.githubusercontent.com/20435017/35044531-5bc5714e-fb99-11e7-9b99-bb3d615292fb.png)
 am sure its something to do with the Telemetry service!

[2018-01-18 10:24] ghost commented on #181
We all have the same problem. I thought the problem was because of NativeScripts "WatchLocation" method. But in my tests, I removed the method and the memory usage continued to rise, so I removed the map, and the memory usage was stable.

Note: On my device, it consumes **360MB** of memory!

[2018-01-18 14:01] guigulin commented on #180
`var geolocation = require("nativescript-geolocation");

geolocation.getCurrentLocation({ desiredAccuracy: 1, updateDistance: 10, minimumUpdateTime: 600000, maximumAge: 600000, timeout: 10000 })
        .then(function (location) {
            var lat = location.latitude;
            var lng = location.longitude;
            console.log("Coordinate: " + lat + " " + lng);
            args.map.addMar

[2018-01-18 19:00] EddyVerbruggen commented on #180
Thanks for the request folks!

With 3.3.0 you will be able to get the location of the user with this new function: https://github.com/EddyVerbruggen/nativescript-mapbox#getuserlocation

[2018-01-18 19:00] #180 closed, assigned to nobody

[2018-01-18 19:04] EddyVerbruggen commented on #192
On iOS the `userLocation` is a readonly field. On Android I think it would be possible because the location plugin I'm using has [this code](https://github.com/mapbox/mapbox-plugins-android/blob/bea4e19fcdf44934fd9e1c5bfbbb0dc67a059113/plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayerPlugin.java#L537-L559). However, I'm not going to add a non-x-platform fu

[2018-01-18 19:04] #192 closed, assigned to nobody

[2018-01-18 19:10] EddyVerbruggen commented on #185
This is the one, I think: https://www.mapbox.com/geocoding/

Not planned, but looks cool. Seems to be a paid option, right?

[2018-01-18 19:12] EddyVerbruggen commented on #179
If you need to set fi. the zoomLevel at a later time, just call `setZoomLevel` (see the readme).

[2018-01-18 19:12] #179 closed, assigned to nobody

[2018-01-18 19:15] EddyVerbruggen commented on #178
Assuming this was answered by @devyaz (thanks!).

[2018-01-18 19:15] #178 closed, assigned to nobody

[2018-01-18 19:18] EddyVerbruggen commented on #177
The console logs have been removed in 3.3.0. They were for debugging purposes anyway, and it all seems to work nicely so I have no need for them any longer.

[2018-01-18 19:18] #177 closed, assigned to nobody

[2018-01-18 19:19] EddyVerbruggen commented on #175
3.2.0 added https://github.com/EddyVerbruggen/nativescript-mapbox#setonmapscrolllistener

[2018-01-18 19:19] #175 closed, assigned to nobody

[2018-01-18 19:29] EddyVerbruggen commented on #172
You're right, `downloadOfflineRegion` supports this kind of usage correctly, but `listOfflineRegions` doesn't. Let me fix that..

[2018-01-18 20:02] #172 closed, assigned to nobody

[2018-01-18 20:04] EddyVerbruggen commented on #148
You may want to look at [nativescript-directions](https://github.com/EddyVerbruggen/nativescript-directions) for now.

[2018-01-18 20:04] #148 closed, assigned to nobody

[2018-01-18 20:06] EddyVerbruggen commented on #151
I think the Mapbox SDK changed (that's what they do really) and there is no mention of 'anchor' on Android anymore (in the provided link), and the iOS link mentions fixing your marker image.

[2018-01-18 20:06] #151 closed, assigned to nobody

[2018-01-18 20:08] EddyVerbruggen commented on #136
3.2.0 added this feature: https://github.com/EddyVerbruggen/nativescript-mapbox#setonmapscrolllistener

[2018-01-18 20:08] #136 closed, assigned to nobody

[2018-01-18 20:09] EddyVerbruggen commented on #137
Never had a clue about this one. Long ago --> closing.

[2018-01-18 20:09] #137 closed, assigned to nobody

[2018-01-18 20:09] #125 closed, assigned to nobody

[2018-01-18 20:10] EddyVerbruggen commented on #110
Guessing this is no longer an issue.

[2018-01-18 20:10] #110 closed, assigned to nobody

[2018-01-18 20:12] EddyVerbruggen commented on #106
The Travis config in this repo has a webpack target and that's working fine without any special modifications. Also, [this app](https://github.com/EddyVerbruggen/nativescript-pluginshowcase) is an Angular app with Mapbox and Webpack and is published to the stores without problems.

[2018-01-18 20:12] #106 closed, assigned to nobody

[2018-01-18 20:14] EddyVerbruggen commented on #124
For anyone having issues with markers (in an Angular app or not), you can for example use it like [this](https://github.com/EddyVerbruggen/nativescript-pluginshowcase/blob/41dffbef0a597b4a83310dce1b8dbf207d0063ac/app/mapping/mapping.component.ts#L100) or [this](https://github.com/EddyVerbruggen/nativescript-pluginshowcase/blob/41dffbef0a597b4a83310dce1b8dbf207d0063ac/app/mapping/mapping.component.

[2018-01-18 20:14] #124 closed, assigned to nobody

[2018-01-18 20:15] #102 closed, assigned to nobody

[2018-01-18 20:15] #107 closed, assigned to nobody

[2018-01-18 20:16] EddyVerbruggen commented on #114
This really sounds like an issue in your app, not the plugin.

[2018-01-18 20:16] #114 closed, assigned to nobody

[2018-01-18 20:17] EddyVerbruggen commented on #74
I'm quite sure removing and readding the platforms folder would fix that.

[2018-01-18 20:17] #74 closed, assigned to nobody

[2018-01-18 20:17] #83 closed, assigned to nobody

[2018-01-18 20:19] EddyVerbruggen commented on #61
The implementation is completely different with 3.2.0 - the plugin is using the Mapbox location plugin which comes with its own indicator, so nothing for me to override really.

[2018-01-18 20:19] #61 closed, assigned to nobody

[2018-01-18 20:20] #64 closed, assigned to nobody

[2018-01-18 20:20] #16 closed, assigned to nobody

[2018-01-18 20:21] EddyVerbruggen commented on #15
This is probably fixed by now ;)

[2018-01-18 20:21] #15 closed, assigned to nobody

[2018-01-18 20:21] EddyVerbruggen commented on #10
I reckon this is no longer a problem by now (lots of NativeScript and Mapbox version increments).

[2018-01-18 20:21] #10 closed, assigned to nobody

[2018-01-18 20:22] EddyVerbruggen commented on #2
Probably no longer an issue with the latest version.

[2018-01-18 20:22] #2 closed, assigned to nobody

[2018-01-19 09:59] bigdaddio opened #196 "Failed to bind EAGLDrawable"
I get this error and of course no map.
Page1 I create and draw a map via XML.
(destroy map and go to Page2)
Page 2 something else
page 3 something else
Page4 try to create another map XML and get the error.
This is how I create the map on both pages. However the first page I have the map fullscreen.
I also found this error on mapbox-gl-native project and wonder if they could be related?
[code]

[2018-01-19 10:04] EddyVerbruggen commented on #196
Can you link to that issue?

[2018-01-19 16:46] bigdaddio commented on #196
Of course:
https://github.com/mapbox/mapbox-gl-native/issues/1243
https://github.com/mapbox/mapbox-gl-native/issues/1572

[2018-01-20 11:07] EddyVerbruggen commented on #196
Thank you.

I have not seen this issue myself, but changing the embedded demo app from a GridLayout to your StackLayout doesn't render a map (without an error). So I started digging.

Turns out the height property of the StackLayout isn't propagated down to the MapboxView automatically (the width is) so the height is 0 and the map is invisible.

I've changed the plugin code to apply the parent wid

[2018-01-20 11:07] #196 closed, assigned to nobody

[2018-01-26 19:48] d3mac123 opened #197 "Location Layer Android"
I have the following lines added into Mapbox's plugin, which allow the camera/map to move according to user location (I added this in the setCenter function, just before the update of the camera positon):
[code]

Everything worked fine until I noticed the update of Mapbox SDK. Checking their forums, I found this case: https://github.com/mapbox/mapbox-gl-native/issues/9775 which mentions the new Lo

[2018-01-26 23:14] leocrawf opened #198 "Didn't find class "com.mapbox.mapboxsdk.plugins.locationlayer.LocationLayerPlugin""
All Worked well until this morning when I went on the contact page. I can remember using the app contact page about a week ago.
Here is the consice error:  Caused by: java.lang.ClassNotFoundException: Didn't find class "com.mapbox.mapboxsdk.plugins.locationlayer.LocationLayerPlugin"

Here is the verbose error in android:

System.err: Calling js method run failed
System.err: Error: java.lang.ClassN

[2018-01-29 04:37] ojoanalogo opened #199 "Error when trying to use app with no internet access (crash)"
Hi,

i hope i'm wrong but i'm unable to use this plugin without internet connection
I'm using NativeScript-angular@4.4.0 and NativeScript-Mapbox@3.3.0
Everything works  as expected if i'm connected to wi-fi access or mobile data, but when i turn them off and i scroll the view a little bit it suddenly closes the application, there's no data log in the console and it just closes
I tried creating a n

[2018-01-31 17:56] EddyVerbruggen commented on #199
@MrARC Thanks for trying the showcase app before reporting this issue. That (or the demo in this plugin) would have been my suggestion to test. Indeed, that app doesn't have any offline-related code.

The difference may be that the showcase app uses a slightly older version than 3.3.0. I'll update the app to the latest plugin version (I want to bump Angular to 5.x anyway) and see if I get a crash.

[2018-01-31 18:04] EddyVerbruggen commented on #198
You probably just need to remove the platforms/android folder and build the app again.

[2018-02-01 01:17] leocrawf commented on #198
I tried that many times already but I got the same result.

[2018-02-04 16:22] ojoanalogo commented on #199
Hi @EddyVerbruggen, sorry for taking too long to answer
I only tested on Android 7.1, i'll try to setup a macbook to see if i get the same behaviour on iOS!

[2018-02-05 04:10] randy-johnson opened #200 "Weird Error: Failed resolution of: Landroid/arch/lifecycle/LifecycleObserver;"
I am running NS 3.4.2

with mapbox 3.3.0

I am getting this error when going to my map page.  This just started recently. I noticed it when on 3.4.1.

I cannot figure out what is causing the error.

I commented out my code that adds the markers.  I am just trying to show the map.

I have removed and added the android platform as well as deleting node_modules.

Any ideas on what the issue could be?

[2018-02-07 01:25] randy-johnson commented on #200
Any suggestions?

[2018-02-08 01:53] randy-johnson commented on #200
I had to put this in my app.gradle.

[code]

Not sure why though, but this worked.  A big thanks to Pete.K on the NS forum.

[2018-02-08 01:53] #200 closed, assigned to nobody

[2018-02-08 11:41] ProofWoW opened #201 "ZoomLevel"
Hi, not working propertie "zoomLevel", i setted from 0 until 18 and nothing result, every time on load map loaded on maximum zoom
Thanks

[2018-02-08 14:08] BeatPots commented on #198
Hi,
I have the same errore when I try to get the user location:

Code:

[code]

[2018-02-09 23:54] j05u3 commented on #87
Hi, using mapbox 5.1.4 here and also receiving similar stack traces (28 on the last week):

Exception java.lang.Error: program failed to link:
`com.mapbox.mapboxsdk.maps.NativeMapView.nativeRender (NativeMapView.java)
com.mapbox.mapboxsdk.maps.NativeMapView.render (NativeMapView.java:179)
com.mapbox.mapboxsdk.maps.MapView.onDraw (MapView.java:407)
android.view.View.draw (View.java:14600)
android.w